<form name="add" action="javascript:ajoutIngredient()">
  <!-- groups d'ingrédients -->
  {include="group-select"}
  <!-- select dynamique de sélection d'un ingrédient d'un groupe -->
  <select name="ingredients" id="ingredients"></select>
  <input type="text" name="quantite" id="quantite">
  <select name="unite" id="unite">
    <option value="g">gramme</option>
    <option value="mg">milli-gramme</option>
    <option value="L">litre</option>
    <option value="mL">milli-litre</option>
    <option value="cup">tasse</option>
  </select>
  <input type="submit" value="OK">
</form>
