{if condition="! UI_PLATS"}
<p><em>La modification de plat via interface est désactivée, veuillez utiliser l'import</em></p>

{else}

<form method="POST">
  <table><tr><td>
	<label for="p">Prioritaire :</label>
      </td><td>
	<input id="p" type="checkbox" name="prioritaire" value="1" 
	       {if condition="@$plat && $plat['prioritaire'] == 1"}
	       checked="checked"
	       {/if}
	       />
    </td></tr><tr><td>
	<label for="v">Nom végétalisé :</label>
      </td><td>
	<input id="v" type="text" name="nom_vegetalise" size="40"
	       value="{if condition="@$plat"}{$plat.nom_vegetalise}{/if}"/>
    </td></tr><tr><td>
  <label for="nom-nutrinet">Nom du plat traditionnel :</label>
      </td><td>
	{include="plats-select"}
    </td></tr><tr><td colspan="2">
  {if condition="@$plat"}
  <input type="hidden" name="plat_id" value="{$plat.id}" />
  <input type="hidden" name="mod-plat" value="1" />
  <input type="submit" value="Modifier" />
  {else}
  <input type="hidden" name="add-plat" value="1" />
  <input type="submit" value="Ajouter" />
  {/if}
  </td></tr></table>
</form>

{if condition="@$plat"}
<script>
$(function() {
	$("#nom-nutrinet").val({$nom_traditionnels|json_encode});
});
</script>
{/if}

{/if}
