<!-- préfix espace du href pour bypasser le système de remplacement de chemin de RainTPL sans se prendre la tête -->
<!-- ce système de déconnexion ne fonctionne qu'avec firefox -->
<div id="logout-link"><a href=" http://nobody@{#MY_CONST_HOSTNAME#}/{#MY_CONST_PATH#}#" onclick="alert('Malgré le message d\'avertissement, vous pouvez sans aucun risque cliquer sur OUI pour vous déconnecter');">Déconnexion</a></div>
<div id="lastlog">{function="vgdb\log\show()"}</div>

{if condition="isset($summary_link)"}
<ul id="breadcrumb">
  {if condition="! @$no_main_link"}
  <li>Retour à la <a href="index.php">Liste des plats</a></li>
  {/if}

  {if condition="@$summary_plat_id"}
  <li>Retour à la <a href="recettes.php?plat_id={$summary_plat_id}">Liste des recette pour ce plat</a></li>
  {/if}

</ul>
{/if}

{if condition="isset($last_message)"}
<div class="last-message return-{$last_code}">{$last_message}</div>
{/if}
