/* specification horror */
body {
    color: #4A4A4A;
    font-family: sans-serif;
}

/* tous les upload de fichier sont encadrés */
input[type=file] {
    border: 1px solid;
    padding: 2px;
}

/* header */
ul#breadcrumb { padding-left: 10px; }
#lastlog { text-align: right; font-size: small; }
#lastlog .time { color: olive; }
#lastlog .contributeur { color: blue; }
#lastlog .action { font-style: italic; color: brown; }

#logout-link { text-align: right; font-size: small; text-decoration: underline; }

.last-message {
    border: 1px solid;
    padding: 3px 10px;
    display: inline-block;
}
.last-message.return-1 { border-color: red; }
.last-message.return-0 { border-color: green; }

/* accueil */
ul#accueil-alpha-index li { display: inline; }
div#plats li.prio-1 { background: lightcoral;  font-size: large; }
div#plats span.plat-from-ui { color: green; }
span.dangerous { color: red; }

/* déprécié: utilisé par plats-filter.html */
/* #form-filter-plats label {
    width: 620px;
    display: inline-block
} */
/* nouvelle interface de filtre: plats-filter2.html */
#index-div-aff-info, #index-div-filter-form {
    background: lightyellow;
    font-size: small;

    width: 900px;
    padding: 4px;

    border: 1px solid;
}
#index-div-aff-info {
    display: none;
    width: 890px;
}
#index-div-filter-form {
    background: lightblue;
}

#form-filter-plats table {
    border-spacing: 10px 0;
}
#form-filter-plats tbody tr:first-child {
    background-color: lightyellow;
    display: none;
}

/* page outils */
form.align-fields label {
    display: inline-block;
    width: 550px;
}

#index-journal-table th, #index-journal-table td {
    padding: 4px;
}

/* comme aux liens de liste des recettes et
   des ingrédients */

div.inline-links a {
     margin-right: 10px;
     font-size: x-small;
}
div.inline-links img {
    width: 24px;
    height: 24px;
    /* vertical-align: middle;
    margin-left: 30px; */
}


/* liste recette pour un plat donné */
img.delete {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-left: 30px;
}

/*
  uneeded since we removed the right-aligned image
ul#liste-recettes li a:first-child {
    display: inline-block;
    width: 200px;
}
*/
/* et modification du plat lui-même */
#plat-mod-div {
    display: none;
    border: 1px solid;
    padding: 5px;
}
#plat-mod-div h3 {
    margin: 5px 0;
    text-decoration: underline;
}

/* ingrédients (page pour une recette donnée) */
#valider-recette {
    display: none;
    background: IndianRed;
}
table#ingredients_table_liste th, table#ingredients_table_liste td {
    padding: 5px;
}

/* div de metadata */
#recette-div-metadata {
    display: none;
    border: 1px solid;
    padding: 5px 10px;
}

/* aperçu des images */
#recette-div-metadata td.images-preview li img {
    max-width: 72px;
    vertical-align: middle;
}

/* uploader */
.uploader {
    -moz-user-select: none;
    border: 2px dotted green;
    color: blue;
    margin: 4px;
    padding: 30px;
    text-align: center;
    vertical-align: middle;
}

/* form de metadata */
#recette-div-metadata form {
    width: 500px;
    clear: both;
}
#recette-div-metadata form input, #recette-div-metadata textarea {
    width: 100%;
    clear: both;
}
#recette-div-metadata #toggle-info {
    text-decoration: underline;
    background: lightyellow;
}

#recette-meta-help {
    background: lightyellow;
    /*border: 1px solid;*/
    margin-left: 10px;
    padding: 4px;
    font-size: small;
}

/* masses volumiques */
#form-masvol label {
    width: 500px;
    display: inline-block
    padding: 4px;
    margin: 2px;
}
#form-masvol li.todo label {
    border-color: IndianRed;
    border-style: solid;
}

/* used in statistic for uncomputable values */
td.cell-error, th.cell-error {
    border: 3px solid red;
}

/* manuel */
p#intro {
    margin-left: 20px;
    text-align: justify;
}
