<div id="index-div-filter-form">

  <a style="font-size: x-small" 
     href=""
     onclick="$('#index-div-aff-info, #form-filter-plats tbody tr:first-child').toggle(); return false;">Explications</a>

  <div id="index-div-aff-info">
    En règle générale les filtres se <em>cumulent</em>. Par exemple filtrer sur <u>prioritaire</u> et <u>contenant <em>tofu</em></u> n'affichera
    que les plats prioritaire dont au moins une recette contient du tofu.<br/>
    Cependant dans le cas ou sont simultanément cochées des options manifestement antagonistes (<em>sans recettes</em> ET <em>avec au moins 1 recette</em>)
    ou encore (<em>correspondance nutrinet</em> ET <em>plats indépendants</em>), alors les plats répondant à <strong>au moins</strong> l'un des critères sont retournés.

    Exemples :
    <ul>
      <li>Les plats dont au moins une recette contient de la biscotte : <a href="?f=biscotte">exemple</a></li>
      <li>Les plats prioritaire dont une recette dépend de tofu : <a href="?f=tofu&prio=1">exemple</a></li>
    </ul>
  </div>

  <form method="GET" id="form-filter-plats">
    <table>
      <thead>
	<th>Contenant l'ingrédient</th>
	<th>Prioritaires</th>
	{if="UI_PLATS"}
	<th>Nouveaux plats</th>
	<th>Plats standards</th>
	{/if}
	<th>Avec recettes</th>
	<th>Sans recettes</th>
	<th></th>
      </thead>

      <tbody>
	<tr>
	  <td><label for="filter-text">Ne sélectionner que les plats dont une recette contient un <strong>ingrédient</strong> contenant cette chaîne :</label></td>
	  <td><label for="filter-prio">Ne sélectionner que les plats prioritaires</label></td>
	  {if="UI_PLATS"}
	  <td><label for="filter-new">Ne sélectionner que les plats saisis à l'aide de l'interface</label></td>
	  <td><label for="filter-old">Ne sélectionner que les plats standards (liste Nutrinet présélectionnée)</label></td>
	  {/if}
	  <td> <label for="filter-nonnull">Ne sélectionner que les plats comprenant au moins 1 recette</label></td>
	  <td><label for="filter-null">Ne sélectionner que les plats sans recette saisie recette</label></td>
	</tr>

	<tr>
	  <td><input type="text" name="f" id="filter-text" size="18" value="{$_GET.f|@htmlentities}" placeholder="ex: tofu"/></td>
	  <td><input type="checkbox" name="prio" id="filter-prio" value="1" {if condition="@empty($_GET) || @$_GET.prio"}checked="checked"{/if} /></td>
	  {if="UI_PLATS"}
	  <td><input type="checkbox" name="new" id="filter-new" value="1" {if="@$_GET.new"}checked="checked"{/if} /></td>
	  <td><input type="checkbox" name="old" id="filter-old" value="1" {if="@$_GET.old"}checked="checked"{/if} /></td>
	  {/if}
	  <td><input type="checkbox" name="nonnull" id="filter-nonnull" value="1" {if="@$_GET.nonnull"}checked="checked"{/if} /></td>
	  <td><input type="checkbox" name="null" id="filter-nonnull" value="1" {if="@$_GET.null"}checked="checked"{/if} /></td>
	  <td><input type="submit" value="Filtrer" /></td>
	</tr>
      </tbody>
    </table>
  </form>
</div>
