<select name="nom_nutrinet[]" id="nom-nutrinet" multiple="multiple">
<option value="" selected="selected">Aucun</option>
<option value="acras cribiches (crevettes)">acras cribiches (crevettes)</option>
<option value="acras de morue">acras de morue</option>
<option value="agneau korma">agneau korma</option>
<option value="aiguillette de canard">aiguillette de canard</option>
<option value="aile de dinde rôtie">aile de dinde rôtie</option>
<option value="aile de poulet rôtie">aile de poulet rôtie</option>
<option value="aligot / truffade">aligot / truffade</option>
<option value="anchoïade">anchoïade</option>
<option value="anchois cuit">anchois cuit</option>
<option value="andouille">andouille</option>
<option value="andouillette">andouillette</option>
<option value="aubergine farcie à la chair à saucisse">aubergine farcie à la chair à saucisse</option>
<option value="aubergine farcie à la chair à saucisse sans sel ajouté">aubergine farcie à la chair à saucisse sans sel ajouté</option>
<option value="avocat au crabe">avocat au crabe</option>
<option value="avocat au crabe sans sel ajouté">avocat au crabe sans sel ajouté</option>
<option value="avocat aux crevettes">avocat aux crevettes</option>
<option value="avocat aux crevettes sans sel ajouté">avocat aux crevettes sans sel ajouté</option>
<option value="avocat vinaigrette">avocat vinaigrette</option>
<option value="avocat vinaigrette sans sel ajouté">avocat vinaigrette sans sel ajouté</option>
<option value="baba au rhum">baba au rhum</option>
<option value="babelutte">babelutte</option>
<option value="bacon fumé">bacon fumé</option>
<option value="bagel">bagel</option>
<option value="baklawa (pâtisserie orientale aux amandes et au sirop)">baklawa (pâtisserie orientale aux amandes et au sirop)</option>
<option value="banh bao">banh bao</option>
<option value="barre chocolatée à la noix de coco (type Bounty)">barre chocolatée à la noix de coco (type Bounty)</option>
<option value="barre chocolatée aux fruits oléagineux (type Snickers)">barre chocolatée aux fruits oléagineux (type Snickers)</option>
<option value="barre chocolatée biscuitée (type KitKat)">barre chocolatée biscuitée (type KitKat)</option>
<option value="barre chocolatée biscuitée aux noisettes (type Kinder Bueno)">barre chocolatée biscuitée aux noisettes (type Kinder Bueno)</option>
<option value="barre chocolatée fourrée aux fruits">barre chocolatée fourrée aux fruits</option>
<option value="barre chocolatée non biscuitée (type Mars)">barre chocolatée non biscuitée (type Mars)</option>
<option value="barre goûter frais au cacao (type Kinder Pingoui)">barre goûter frais au cacao (type Kinder Pingoui)</option>
<option value="barres glacées (type Mars glacé)">barres glacées (type Mars glacé)</option>
<option value="bâtonnet de dinde pané">bâtonnet de dinde pané</option>
<option value="bâtonnet de poisson pané">bâtonnet de poisson pané</option>
<option value="bâtonnet de surimi">bâtonnet de surimi</option>
<option value="bavarois aux fruits">bavarois aux fruits</option>
<option value="beignet à la confiture">beignet à la confiture</option>
<option value="beignet de calamars">beignet de calamars</option>
<option value="beignet de crabe">beignet de crabe</option>
<option value="beignet de crevette">beignet de crevette</option>
<option value="beignet de fruits">beignet de fruits</option>
<option value="beignet de légumes">beignet de légumes</option>
<option value="beignet de viande, volaille ou poisson">beignet de viande, volaille ou poisson</option>
<option value="beignet nature (type merveilles, bugnes…)">beignet nature (type merveilles, bugnes…)</option>
<option value="biscuit apéritif allégé (type crackers)">biscuit apéritif allégé (type crackers)</option>
<option value="biscuit apéritif fourré au fromage (type crakers)">biscuit apéritif fourré au fromage (type crakers)</option>
<option value="biscuit apéritif nature (type crakers)">biscuit apéritif nature (type crakers)</option>
<option value="biscuit apéritif sans fromage">biscuit apéritif sans fromage</option>
<option value="biscuit apéritif soufflé à base de maïs (type Curly)">biscuit apéritif soufflé à base de maïs (type Curly)</option>
<option value="biscuit apéritif soufflé à base de pomme de terre (type Monster Munch)">biscuit apéritif soufflé à base de pomme de terre (type Monster Munch)</option>
<option value="biscuit au chocolat (type Gerblé, Céréal...)">biscuit au chocolat (type Gerblé, Céréal...)</option>
<option value="biscuit aux céréales (type Gerblé, Céréal...)">biscuit aux céréales (type Gerblé, Céréal...)</option>
<option value="biscuit aux fruits (type Gerblé, Céréal...)">biscuit aux fruits (type Gerblé, Céréal...)</option>
<option value="biscuit chocolaté">biscuit chocolaté</option>
<option value="biscuit moelleux fourré (type Pim's)">biscuit moelleux fourré (type Pim's)</option>
<option value="biscuit nappé aux fruits, type barquette">biscuit nappé aux fruits, type barquette</option>
<option value="biscuit pour petit déjeuner">biscuit pour petit déjeuner</option>
<option value="biscuit sans gluten">biscuit sans gluten</option>
<option value="biscuit sec">biscuit sec</option>
<option value="biscuit sec avec tablette de chocolat (type Petit Ecolier)">biscuit sec avec tablette de chocolat (type Petit Ecolier)</option>
<option value="biscuit sec fourré aux fruits">biscuit sec fourré aux fruits</option>
<option value="biscuit sec nappage chocolat (type Pépito)">biscuit sec nappage chocolat (type Pépito)</option>
<option value="biscuit type langue de chat">biscuit type langue de chat</option>
<option value="biscuit type palmier">biscuit type palmier</option>
<option value="biscuit type petit beurre">biscuit type petit beurre</option>
<option value="biscuit, barre fourrée (supprimé)">biscuit, barre fourrée (supprimé)</option>
<option value="blanc d'oeuf cru">blanc d'oeuf cru</option>
<option value="blanc d'oeuf cuit">blanc d'oeuf cuit</option>
<option value="blanc de poulet rôti">blanc de poulet rôti</option>
<option value="blanc-manger coco">blanc-manger coco</option>
<option value="blanquette de veau">blanquette de veau</option>
<option value="bleu">bleu</option>
<option value="blinis">blinis</option>
<option value="bo bun">bo bun</option>
<option value="boeuf à bourguignon ou carbonnade">boeuf à bourguignon ou carbonnade</option>
<option value="boeuf à pot-au-feu">boeuf à pot-au-feu</option>
<option value="boeuf au curry">boeuf au curry</option>
<option value="boeuf au curry sans sel ajouté">boeuf au curry sans sel ajouté</option>
<option value="boeuf bourguignon">boeuf bourguignon</option>
<option value="boeuf braisé">boeuf braisé</option>
<option value="boeuf carottes">boeuf carottes</option>
<option value="boisson lactée avec jus de fruits">boisson lactée avec jus de fruits</option>
<option value="boisson maltée cacaotée (type Tonimalt, Ovomaltine)">boisson maltée cacaotée (type Tonimalt, Ovomaltine)</option>
<option value="bokit (pâte)">bokit (pâte)</option>
<option value="bonbon">bonbon</option>
<option value="bonbon au caramel">bonbon au caramel</option>
<option value="bonbon caramel et chocolat (type Michoko, Roll)">bonbon caramel et chocolat (type Michoko, Roll)</option>
<option value="bonbon gélifié (type crocodile)">bonbon gélifié (type crocodile)</option>
<option value="bonbon praline">bonbon praline</option>
<option value="bonbon sans sucre">bonbon sans sucre</option>
<option value="bortch">bortch</option>
<option value="bouchée à la reine au poisson et fruits de mer">bouchée à la reine au poisson et fruits de mer</option>
<option value="bouchée à la reine au poulet">bouchée à la reine au poulet</option>
<option value="boudin antillais">boudin antillais</option>
<option value="boudin blanc">boudin blanc</option>
<option value="boudin noir">boudin noir</option>
<option value="boudoir / biscuit à la cuillère">boudoir / biscuit à la cuillère</option>
<option value="bouillabaisse">bouillabaisse</option>
<option value="bouillon de légumes deshydraté reconstitué">bouillon de légumes deshydraté reconstitué</option>
<option value="boulettes à la liégeoise, sauce lapin">boulettes à la liégeoise, sauce lapin</option>
<option value="boulettes d'agneau (type kefta)">boulettes d'agneau (type kefta)</option>
<option value="boulettes de bœuf">boulettes de bœuf</option>
<option value="boulettes de veau">boulettes de veau</option>
<option value="brandade de morue (sans pommes de terre)">brandade de morue (sans pommes de terre)</option>
<option value="brandade de morue parmentière">brandade de morue parmentière</option>
<option value="bretzel alsacien salé">bretzel alsacien salé</option>
<option value="bretzel apéritif salé">bretzel apéritif salé</option>
<option value="bretzel en pâtisserie">bretzel en pâtisserie</option>
<option value="brioche">brioche</option>
<option value="brioche aux pépites de chocolat">brioche aux pépites de chocolat</option>
<option value="brioche individuelle">brioche individuelle</option>
<option value="brochette d'agneau/mouton">brochette d'agneau/mouton</option>
<option value="brochette de bœuf">brochette de bœuf</option>
<option value="brochette de crevettes">brochette de crevettes</option>
<option value="brochette de poisson">brochette de poisson</option>
<option value="brochette de porc">brochette de porc</option>
<option value="brochette de viandes mixtes">brochette de viandes mixtes</option>
<option value="brochette de volailles">brochette de volailles</option>
<option value="brousse de brebis">brousse de brebis</option>
<option value="brownie au chocolat">brownie au chocolat</option>
<option value="brownie au chocolat et aux noix">brownie au chocolat et aux noix</option>
<option value="bruschetta, tartine au jambon">bruschetta, tartine au jambon</option>
<option value="bûche de Noël">bûche de Noël</option>
<option value="burrito au boeuf">burrito au boeuf</option>
<option value="burrito viande et haricots">burrito viande et haricots</option>
<option value="cacahuètes enrobées de chocolat (type M&M's)">cacahuètes enrobées de chocolat (type M&M's)</option>
<option value="cacahuètes grillées non salées">cacahuètes grillées non salées</option>
<option value="cacahuètes grillées salées">cacahuètes grillées salées</option>
<option value="café liégeois glacé">café liégeois glacé</option>
<option value="café viennois">café viennois</option>
<option value="cake à la frangipane">cake à la frangipane</option>
<option value="cake au fromage">cake au fromage</option>
<option value="cake au poisson">cake au poisson</option>
<option value="cake aux fruits">cake aux fruits</option>
<option value="cake aux légumes">cake aux légumes</option>
<option value="cake aux raisins">cake aux raisins</option>
<option value="cake aux raisins secs sans sel ajouté">cake aux raisins secs sans sel ajouté</option>
<option value="cake salé jambon, olives">cake salé jambon, olives</option>
<option value="calamar à l'américaine">calamar à l'américaine</option>
<option value="calamar farci">calamar farci</option>
<option value="calamar frit">calamar frit</option>
<option value="calisson">calisson</option>
<option value="calmar">calmar</option>
<option value="cambozola">cambozola</option>
<option value="camembert 40% MG (19% sur produit fini)">camembert 40% MG (19% sur produit fini)</option>
<option value="camembert 45% MG (22% sur produit fini)">camembert 45% MG (22% sur produit fini)</option>
<option value="camembert 50% MG (25% sur produit fini)">camembert 50% MG (25% sur produit fini)</option>
<option value="camembert 60% MG (31% sur produit fini)">camembert 60% MG (31% sur produit fini)</option>
<option value="canapés (garnitures diverses)">canapés (garnitures diverses)</option>
<option value="canard à l'orange">canard à l'orange</option>
<option value="canard laqué">canard laqué</option>
<option value="canard rôti">canard rôti</option>
<option value="cancoillotte">cancoillotte</option>
<option value="canelé">canelé</option>
<option value="cannelloni à la viande">cannelloni à la viande</option>
<option value="cappuccino">cappuccino</option>
<option value="cappuccino en poudre">cappuccino en poudre</option>
<option value="caramel">caramel</option>
<option value="caramel au beurre">caramel au beurre</option>
<option value="carbonnade flammande">carbonnade flammande</option>
<option value="cari de porc">cari de porc</option>
<option value="cari de poulet">cari de poulet</option>
<option value="cari de saucisse">cari de saucisse</option>
<option value="carpaccio de boeuf">carpaccio de boeuf</option>
<option value="carpaccio de saumon à l'huile d'olive">carpaccio de saumon à l'huile d'olive</option>
<option value="carré aux dattes et aux noix">carré aux dattes et aux noix</option>
<option value="carré de l'est">carré de l'est</option>
<option value="carré frais (supprimé)">carré frais (supprimé)</option>
<option value="carrelet">carrelet</option>
<option value="cassolette de noix de Saint-Jacques aux poireaux">cassolette de noix de Saint-Jacques aux poireaux</option>
<option value="cassolette de poisson ou fruits de mer">cassolette de poisson ou fruits de mer</option>
<option value="cassoulet">cassoulet</option>
<option value="caviar d'aubergine">caviar d'aubergine</option>
<option value="céleri rémoulade">céleri rémoulade</option>
<option value="céréales chocolatées non fourrées (type Chocapic)">céréales chocolatées non fourrées (type Chocapic)</option>
<option value="céréales fourrées au chocolat ou chocolat-noisettes">céréales fourrées au chocolat ou chocolat-noisettes</option>
<option value="céréales fourrées sans chocolat">céréales fourrées sans chocolat</option>
<option value="céréales pour petit déjeuner sans gluten">céréales pour petit déjeuner sans gluten</option>
<option value="céréales riches en fibres">céréales riches en fibres</option>
<option value="cervelas">cervelas</option>
<option value="cervelle d'agneau / mouton">cervelle d'agneau / mouton</option>
<option value="cervelle d'agneau / mouton sautée">cervelle d'agneau / mouton sautée</option>
<option value="cervelle de porc braisée">cervelle de porc braisée</option>
<option value="cervelle de veau">cervelle de veau</option>
<option value="cervelle de veau sautée">cervelle de veau sautée</option>
<option value="chabichou">chabichou</option>
<option value="chair à saucisse">chair à saucisse</option>
<option value="charlotte au chocolat">charlotte au chocolat</option>
<option value="charlotte aux fruits">charlotte aux fruits</option>
<option value="chaudeau">chaudeau</option>
<option value="chausson aux pommes">chausson aux pommes</option>
<option value="chawarma de poulet">chawarma de poulet</option>
<option value="cheddar">cheddar</option>
<option value="cheeseburger">cheeseburger</option>
<option value="chili con carne">chili con carne</option>
<option value="chili con carne sans sel ajouté">chili con carne sans sel ajouté</option>
<option value="chipolata (saucisse de porc) nature ou aux herbes">chipolata (saucisse de porc) nature ou aux herbes</option>
<option value="chocolat au lait">chocolat au lait</option>
<option value="chocolat au lait avec fruits secs et noisettes">chocolat au lait avec fruits secs et noisettes</option>
<option value="chocolat au lait avec riz soufflé">chocolat au lait avec riz soufflé</option>
<option value="chocolat au lait chaud">chocolat au lait chaud</option>
<option value="chocolat au lait et aux noisettes (type Ferrero rocher)">chocolat au lait et aux noisettes (type Ferrero rocher)</option>
<option value="chocolat au lait fourré (praline)">chocolat au lait fourré (praline)</option>
<option value="chocolat blanc">chocolat blanc</option>
<option value="chocolat en poudre sucré (type Nesquik)">chocolat en poudre sucré (type Nesquik)</option>
<option value="chocolat en poudre sucré, sans gluten">chocolat en poudre sucré, sans gluten</option>
<option value="chocolat liégeois glacé">chocolat liégeois glacé</option>
<option value="chocolat noir fourré (praline)">chocolat noir fourré (praline)</option>
<option value="chorba">chorba</option>
<option value="chorizo sec">chorizo sec</option>
<option value="chou à la crème pâtissière">chou à la crème pâtissière</option>
<option value="chou farci à la chair à saucisse">chou farci à la chair à saucisse</option>
<option value="chou farci à la chair à saucisse sans sel ajouté">chou farci à la chair à saucisse sans sel ajouté</option>
<option value="chou romanesco cuit">chou romanesco cuit</option>
<option value="choucroute">choucroute</option>
<option value="choucroute de la mer">choucroute de la mer</option>
<option value="choucroute garnie">choucroute garnie</option>
<option value="chouquette">chouquette</option>
<option value="cigarette russe">cigarette russe</option>
<option value="clafoutis">clafoutis</option>
<option value="colombo de mouton ou de cabri">colombo de mouton ou de cabri</option>
<option value="colombo de porc">colombo de porc</option>
<option value="colombo de poulet">colombo de poulet</option>
<option value="colombo en poudre">colombo en poudre</option>
<option value="cône chocolat pistache">cône chocolat pistache</option>
<option value="cône vanille">cône vanille</option>
<option value="cône, autre parfum">cône, autre parfum</option>
<option value="confiserie au chocolat dragéifiée (type Smarties)">confiserie au chocolat dragéifiée (type Smarties)</option>
<option value="confit de canard / oie">confit de canard / oie</option>
<option value="confiture de lait">confiture de lait</option>
<option value="consommé de boeuf">consommé de boeuf</option>
<option value="cookie">cookie</option>
<option value="coppa">coppa</option>
<option value="coq au vin">coq au vin</option>
<option value="coq au vin sans sel ajouté">coq au vin sans sel ajouté</option>
<option value="coquelet">coquelet</option>
<option value="coques">coques</option>
<option value="coquille de noël, cougnou">coquille de noël, cougnou</option>
<option value="coquille de poisson">coquille de poisson</option>
<option value="coquille saint jacques, noix">coquille saint jacques, noix</option>
<option value="coquille Saint-Jacques préparée">coquille Saint-Jacques préparée</option>
<option value="coquille Saint-Jacques, noix et corail">coquille Saint-Jacques, noix et corail</option>
<option value="cordon bleu">cordon bleu</option>
<option value="corne de gazelle">corne de gazelle</option>
<option value="corned beef">corned beef</option>
<option value="côte d'agneau / mouton">côte d'agneau / mouton</option>
<option value="côte de boeuf grillée">côte de boeuf grillée</option>
<option value="côte de porc grillée">côte de porc grillée</option>
<option value="côte de veau">côte de veau</option>
<option value="côte de veau braisée">côte de veau braisée</option>
<option value="côte de veau maigre braisée">côte de veau maigre braisée</option>
<option value="côte de veau maigre rôtie">côte de veau maigre rôtie</option>
<option value="côte de veau rôtie">côte de veau rôtie</option>
<option value="côtelette d'agneau / mouton grillée">côtelette d'agneau / mouton grillée</option>
<option value="coulommiers">coulommiers</option>
<option value="couque à la crème">couque à la crème</option>
<option value="couque aux raisins">couque aux raisins</option>
<option value="court-bouillon de poisson">court-bouillon de poisson</option>
<option value="couscous au mouton">couscous au mouton</option>
<option value="couscous au poisson">couscous au poisson</option>
<option value="couscous au poisson sans sel ajouté">couscous au poisson sans sel ajouté</option>
<option value="couscous au poulet">couscous au poulet</option>
<option value="couscous royal">couscous royal</option>
<option value="craquelin / cramique">craquelin / cramique</option>
<option value="crème à la vanille allégée en matière grasse">crème à la vanille allégée en matière grasse</option>
<option value="crème anglaise">crème anglaise</option>
<option value="crème au beurre">crème au beurre</option>
<option value="crème au chocolat allégée en matière grasse">crème au chocolat allégée en matière grasse</option>
<option value="crème aux œufs">crème aux œufs</option>
<option value="crème brûlée">crème brûlée</option>
<option value="crème caramel">crème caramel</option>
<option value="crème chantilly">crème chantilly</option>
<option value="crème chantilly allégée">crème chantilly allégée</option>
<option value="crème de whisky (type Baileys)">crème de whisky (type Baileys)</option>
<option value="crème de yaourt aromatisé">crème de yaourt aromatisé</option>
<option value="crème de yaourt aux pépites de chocolat">crème de yaourt aux pépites de chocolat</option>
<option value="crème de yaourt nature">crème de yaourt nature</option>
<option value="crème dessert">crème dessert</option>
<option value="crème dessert à la vanille">crème dessert à la vanille</option>
<option value="crème dessert au café">crème dessert au café</option>
<option value="crème dessert au chocolat">crème dessert au chocolat</option>
<option value="crème dessert café liégeois">crème dessert café liégeois</option>
<option value="crème dessert chocolat liégeois">crème dessert chocolat liégeois</option>
<option value="crème fraîche épaisse">crème fraîche épaisse</option>
<option value="crème fraîche épaisse allégée">crème fraîche épaisse allégée</option>
<option value="crème fraîche épaisse ultra-légère">crème fraîche épaisse ultra-légère</option>
<option value="crème fraîche liquide">crème fraîche liquide</option>
<option value="crème fraîche liquide allégée">crème fraîche liquide allégée</option>
<option value="crème fraîche liquide ultra-légère">crème fraîche liquide ultra-légère</option>
<option value="crème glacée à la fraise">crème glacée à la fraise</option>
<option value="crème glacée à la vanille">crème glacée à la vanille</option>
<option value="crème glacée à la vanille allégée en sucre et matière grasse">crème glacée à la vanille allégée en sucre et matière grasse</option>
<option value="crème glacée au chocolat">crème glacée au chocolat</option>
<option value="crème glacée, autre parfum">crème glacée, autre parfum</option>
<option value="crème pâtissière">crème pâtissière</option>
<option value="crêpe au jambon">crêpe au jambon</option>
<option value="crêpe au sarrasin (galette)">crêpe au sarrasin (galette)</option>
<option value="crêpe aux champignons">crêpe aux champignons</option>
<option value="crêpe fourrée à la confiture du commerce">crêpe fourrée à la confiture du commerce</option>
<option value="crêpe fourrée au chocolat du commerce">crêpe fourrée au chocolat du commerce</option>
<option value="crêpe fourrée béchamel, fromage">crêpe fourrée béchamel, fromage</option>
<option value="crêpe fourrée béchamel, jambon">crêpe fourrée béchamel, jambon</option>
<option value="crêpe fourrée béchamel, jambon, fromage">crêpe fourrée béchamel, jambon, fromage</option>
<option value="crêpe fourrée béchamel, jambon, fromage, champignons">crêpe fourrée béchamel, jambon, fromage, champignons</option>
<option value="crêpe nature">crêpe nature</option>
<option value="crêpe sucrée">crêpe sucrée</option>
<option value="crêpe sucrée sans sel ajouté (supprimé)">crêpe sucrée sans sel ajouté (supprimé)</option>
<option value="crevette grise">crevette grise</option>
<option value="crevette rose">crevette rose</option>
<option value="croissant au beurre">croissant au beurre</option>
<option value="croissant au jambon">croissant au jambon</option>
<option value="croissant aux amandes">croissant aux amandes</option>
<option value="croissant ordinaire">croissant ordinaire</option>
<option value="croquant aux amandes">croquant aux amandes</option>
<option value="croque hawaien à l'ananas">croque hawaien à l'ananas</option>
<option value="croque provençal à la tomate">croque provençal à la tomate</option>
<option value="croque-madame à l'œuf">croque-madame à l'œuf</option>
<option value="croque-monsieur">croque-monsieur</option>
<option value="croque-monsieur avec béchamel">croque-monsieur avec béchamel</option>
<option value="croquette de poisson">croquette de poisson</option>
<option value="croquette de pomme de terre">croquette de pomme de terre</option>
<option value="croquettes de pois chiches (falafel)">croquettes de pois chiches (falafel)</option>
<option value="crumble aux fruits rouges">crumble aux fruits rouges</option>
<option value="crumble aux pommes">crumble aux pommes</option>
<option value="crumpet">crumpet</option>
<option value="cuberdon">cuberdon</option>
<option value="cuisse de dinde rôtie avec peau">cuisse de dinde rôtie avec peau</option>
<option value="cuisse de dinde rôtie sans peau">cuisse de dinde rôtie sans peau</option>
<option value="cuisse de grenouille">cuisse de grenouille</option>
<option value="cuisse de poulet laqué">cuisse de poulet laqué</option>
<option value="cuisse de poulet rôtie (haut de cuisse)">cuisse de poulet rôtie (haut de cuisse)</option>
<option value="cuisse de poulet rôtie (pilon)">cuisse de poulet rôtie (pilon)</option>
<option value="cuisse de poulet rôtie avec peau">cuisse de poulet rôtie avec peau</option>
<option value="cuisse de poulet rôtie sans peau">cuisse de poulet rôtie sans peau</option>
<option value="curry /  massala en poudre">curry /  massala en poudre</option>
<option value="curry d'agneau / mouton">curry d'agneau / mouton</option>
<option value="curry de poisson">curry de poisson</option>
<option value="dal (dahl) de lentilles">dal (dahl) de lentilles</option>
<option value="daube de poisson">daube de poisson</option>
<option value="dombré aux crevettes">dombré aux crevettes</option>
<option value="dombré aux haricots rouges">dombré aux haricots rouges</option>
<option value="donut à la vanille">donut à la vanille</option>
<option value="donut au chocolat">donut au chocolat</option>
<option value="donut nature">donut nature</option>
<option value="double cheeseburger">double cheeseburger</option>
<option value="double hamburger">double hamburger</option>
<option value="dragée">dragée</option>
<option value="échine de porc rôti">échine de porc rôti</option>
<option value="éclair chocolat, café">éclair chocolat, café</option>
<option value="écrevisse">écrevisse</option>
<option value="emmental">emmental</option>
<option value="emmental allegé">emmental allegé</option>
<option value="enchilada au bœuf et fromage">enchilada au bœuf et fromage</option>
<option value="enchilada au fromage">enchilada au fromage</option>
<option value="entrecôte de boeuf grillée">entrecôte de boeuf grillée</option>
<option value="épaule d'agneau / mouton maigre braisée">épaule d'agneau / mouton maigre braisée</option>
<option value="épaule d'agneau / mouton maigre rôtie">épaule d'agneau / mouton maigre rôtie</option>
<option value="épaule d'agneau / mouton rôtie">épaule d'agneau / mouton rôtie</option>
<option value="épaule de veau">épaule de veau</option>
<option value="épaule de veau braisée">épaule de veau braisée</option>
<option value="escalope de dinde rôtie">escalope de dinde rôtie</option>
<option value="escalope de poulet">escalope de poulet</option>
<option value="escalope de poulet panée">escalope de poulet panée</option>
<option value="escalope de veau">escalope de veau</option>
<option value="escalope de veau à la milanaise (panée)">escalope de veau à la milanaise (panée)</option>
<option value="escargot">escargot</option>
<option value="esquimau ou bâtonnet vanille">esquimau ou bâtonnet vanille</option>
<option value="esquimau ou bâtonnet, autre parfum">esquimau ou bâtonnet, autre parfum</option>
<option value="faisselle 0% MG">faisselle 0% MG</option>
<option value="faisselle 40% MG nature (6% sur produit fini)">faisselle 40% MG nature (6% sur produit fini)</option>
<option value="fajitas à la viande">fajitas à la viande</option>
<option value="far breton">far breton</option>
<option value="faux-filet de boeuf grillé">faux-filet de boeuf grillé</option>
<option value="féroce d'avocat">féroce d'avocat</option>
<option value="féta 45% MG">féta 45% MG</option>
<option value="feuilleté au fromage">feuilleté au fromage</option>
<option value="feuilleté au poisson">feuilleté au poisson</option>
<option value="feuilleté au saumon">feuilleté au saumon</option>
<option value="feuilleté aux abricots">feuilleté aux abricots</option>
<option value="feuilleté aux amandes et/ou cacahuètes">feuilleté aux amandes et/ou cacahuètes</option>
<option value="feuilleté aux fruits">feuilleté aux fruits</option>
<option value="feuilleté aux fruits de mer">feuilleté aux fruits de mer</option>
<option value="feuilleté aux légumes">feuilleté aux légumes</option>
<option value="feuilleté fourré béchamel, jambon, fromage">feuilleté fourré béchamel, jambon, fromage</option>
<option value="filet d'anchois à l'huile">filet d'anchois à l'huile</option>
<option value="filet d'anchois à l'huile d'olive">filet d'anchois à l'huile d'olive</option>
<option value="filet d'anchois à l'huile d'olive, égoutté">filet d'anchois à l'huile d'olive, égoutté</option>
<option value="filet d'anchois à l'huile, égoutté">filet d'anchois à l'huile, égoutté</option>
<option value="filet d'Anvers">filet d'Anvers</option>
<option value="filet de bacon">filet de bacon</option>
<option value="filet de hoki">filet de hoki</option>
<option value="filet de maquereau à l'huile, égoutté">filet de maquereau à l'huile, égoutté</option>
<option value="filet de maquereau au vin blanc">filet de maquereau au vin blanc</option>
<option value="filet de maquereau sauce moutarde">filet de maquereau sauce moutarde</option>
<option value="filet de maquereau sauce tomate">filet de maquereau sauce tomate</option>
<option value="filet de poisson pané">filet de poisson pané</option>
<option value="filet de porc maigre">filet de porc maigre</option>
<option value="filet de veau rôti">filet de veau rôti</option>
<option value="financier">financier</option>
<option value="fines tranches d'emmental (type Leerdammer)">fines tranches d'emmental (type Leerdammer)</option>
<option value="fines tranches d'emmental allégées (type Leerdammer)">fines tranches d'emmental allégées (type Leerdammer)</option>
<option value="flamiche picarde">flamiche picarde</option>
<option value="flammenkueche">flammenkueche</option>
<option value="flan">flan</option>
<option value="flan aux fruits">flan aux fruits</option>
<option value="flan aux légumes">flan aux légumes</option>
<option value="flan caramel">flan caramel</option>
<option value="flan coco">flan coco</option>
<option value="flan de courgettes">flan de courgettes</option>
<option value="flan pâtissier / tarte au flan">flan pâtissier / tarte au flan</option>
<option value="flanchet / bavette de boeuf">flanchet / bavette de boeuf</option>
<option value="fond de sauce">fond de sauce</option>
<option value="fondue bourguignone">fondue bourguignone</option>
<option value="fondue de poireaux">fondue de poireaux</option>
<option value="fondue savoyarde">fondue savoyarde</option>
<option value="forêt noire">forêt noire</option>
<option value="fougasse aux lardons">fougasse aux lardons</option>
<option value="fougasse aux olives">fougasse aux olives</option>
<option value="fougasse garnie (supprimé)">fougasse garnie (supprimé)</option>
<option value="fougasse nature">fougasse nature</option>
<option value="fourme d'Ambert">fourme d'Ambert</option>
<option value="fraise melba">fraise melba</option>
<option value="fraisier">fraisier</option>
<option value="framboisier">framboisier</option>
<option value="friand / feuilleté à la saucisse">friand / feuilleté à la saucisse</option>
<option value="friand / feuilleté à la viande">friand / feuilleté à la viande</option>
<option value="friand / feuilleté au fromage">friand / feuilleté au fromage</option>
<option value="fricadelle (fricandelle)">fricadelle (fricandelle)</option>
<option value="fromage à pâte ferme, type Bonbel - Babybel">fromage à pâte ferme, type Bonbel - Babybel</option>
<option value="fromage à raclette">fromage à raclette</option>
<option value="fromage ail et fines herbes (type Boursin, Tartare)">fromage ail et fines herbes (type Boursin, Tartare)</option>
<option value="fromage ail et fines herbes allégé (type Tartare)">fromage ail et fines herbes allégé (type Tartare)</option>
<option value="fromage apéritif en cube (type Apéricube)">fromage apéritif en cube (type Apéricube)</option>
<option value="fromage blanc 0% MG aromatisé">fromage blanc 0% MG aromatisé</option>
<option value="fromage blanc 0% MG aux fruits, édulcoré">fromage blanc 0% MG aux fruits, édulcoré</option>
<option value="fromage blanc 0% MG nature">fromage blanc 0% MG nature</option>
<option value="fromage blanc 20% MG aux fruits (6% sur produit fini)">fromage blanc 20% MG aux fruits (6% sur produit fini)</option>
<option value="fromage blanc 20% MG nature (3% sur produit fini)">fromage blanc 20% MG nature (3% sur produit fini)</option>
<option value="fromage blanc 40% MG aux fruits (6% sur produit fini)">fromage blanc 40% MG aux fruits (6% sur produit fini)</option>
<option value="fromage blanc 40% MG nature (6% sur produit fini)">fromage blanc 40% MG nature (6% sur produit fini)</option>
<option value="fromage blanc et crème fouettée aux fruits (type Gervita aux fruits)">fromage blanc et crème fouettée aux fruits (type Gervita aux fruits)</option>
<option value="fromage blanc et crème fouettée nature (type Gervita nature)">fromage blanc et crème fouettée nature (type Gervita nature)</option>
<option value="fromage cottage nature">fromage cottage nature</option>
<option value="fromage d'abbaye (type Chimay, Maredsous, Passendale …)">fromage d'abbaye (type Chimay, Maredsous, Passendale …)</option>
<option value="fromage de brebis (pâte molle)">fromage de brebis (pâte molle)</option>
<option value="fromage de brebis à pâte dure (type Ossau-Iraty)">fromage de brebis à pâte dure (type Ossau-Iraty)</option>
<option value="fromage de chèvre à tartiner (type Chavroux)">fromage de chèvre à tartiner (type Chavroux)</option>
<option value="fromage de chèvre frais">fromage de chèvre frais</option>
<option value="fromage de chèvre mi-sec">fromage de chèvre mi-sec</option>
<option value="fromage de chèvre sec">fromage de chèvre sec</option>
<option value="fromage de chèvre type bûche">fromage de chèvre type bûche</option>
<option value="fromage de tête">fromage de tête</option>
<option value="fromage fondu 25% MG">fromage fondu 25% MG</option>
<option value="fromage fondu 45% MG">fromage fondu 45% MG</option>
<option value="fromage fondu 65% MG">fromage fondu 65% MG</option>
<option value="fromage fondu 70% MG">fromage fondu 70% MG</option>
<option value="fromage fondu aux noix (type Rambol)">fromage fondu aux noix (type Rambol)</option>
<option value="fromage frais demi-sel nature (type Carré frais)">fromage frais demi-sel nature (type Carré frais)</option>
<option value="fromage frais nature (type Carré frais)">fromage frais nature (type Carré frais)</option>
<option value="fromage frais nature à 0% de MG (type carré frais)">fromage frais nature à 0% de MG (type carré frais)</option>
<option value="fromage pâte ferme 25% MG">fromage pâte ferme 25% MG</option>
<option value="fromage pâte molle 25% MG">fromage pâte molle 25% MG</option>
<option value="fromage type camembert 25% MG">fromage type camembert 25% MG</option>
<option value="galantine">galantine</option>
<option value="galette bretonne (type st Michel)">galette bretonne (type st Michel)</option>
<option value="galette de céréales soufflées (quinoa, avoine, seigle…)">galette de céréales soufflées (quinoa, avoine, seigle…)</option>
<option value="galette de maïs, tortilla (sans garniture)">galette de maïs, tortilla (sans garniture)</option>
<option value="galette de pomme de terre (rösti)">galette de pomme de terre (rösti)</option>
<option value="galette de semoule (type kesra)">galette de semoule (type kesra)</option>
<option value="galette des rois à la frangipane">galette des rois à la frangipane</option>
<option value="galette ou palet de légumes">galette ou palet de légumes</option>
<option value="gambas">gambas</option>
<option value="gaspacho">gaspacho</option>
<option value="gâteau à l'ananas">gâteau à l'ananas</option>
<option value="gâteau à la crème au beurre, type Javanais">gâteau à la crème au beurre, type Javanais</option>
<option value="gâteau à la farine de riz">gâteau à la farine de riz</option>
<option value="gâteau au chocolat">gâteau au chocolat</option>
<option value="gâteau au chocolat sans sel ajouté (supprimé)">gâteau au chocolat sans sel ajouté (supprimé)</option>
<option value="gâteau au fromage (type cheesecake)">gâteau au fromage (type cheesecake)</option>
<option value="gâteau au yaourt">gâteau au yaourt</option>
<option value="gâteau aux amandes">gâteau aux amandes</option>
<option value="gâteau aux cheveux d'ange">gâteau aux cheveux d'ange</option>
<option value="gâteau aux noix">gâteau aux noix</option>
<option value="gâteau aux pommes">gâteau aux pommes</option>
<option value="gâteau basque">gâteau basque</option>
<option value="gâteau breton">gâteau breton</option>
<option value="gâteau coco">gâteau coco</option>
<option value="gâteau de pain (type pain perdu)">gâteau de pain (type pain perdu)</option>
<option value="gâteau de riz">gâteau de riz</option>
<option value="gâteau de Savoie">gâteau de Savoie</option>
<option value="gâteau de Savoie sans sel ajouté (supprimé)">gâteau de Savoie sans sel ajouté (supprimé)</option>
<option value="gâteau de semoule">gâteau de semoule</option>
<option value="gâteau marbré au chocolat">gâteau marbré au chocolat</option>
<option value="gâteau moelleux aux fruits type mini-roulé ou mini cake fourré">gâteau moelleux aux fruits type mini-roulé ou mini cake fourré</option>
<option value="gâteau moelleux fourré chocolat, pépites de chocolat ou lait">gâteau moelleux fourré chocolat, pépites de chocolat ou lait</option>
<option value="gâteau moelleux nature, type mini-cake">gâteau moelleux nature, type mini-cake</option>
<option value="gaufre">gaufre</option>
<option value="gaufre de Bruxelles">gaufre de Bruxelles</option>
<option value="gaufre de Liège">gaufre de Liège</option>
<option value="gaufre de Liège au chocolat">gaufre de Liège au chocolat</option>
<option value="gaufrette">gaufrette</option>
<option value="gaufrette au chocolat">gaufrette au chocolat</option>
<option value="gaufrette aux fruits">gaufrette aux fruits</option>
<option value="gélatine">gélatine</option>
<option value="gigot d'agneau / mouton rôti">gigot d'agneau / mouton rôti</option>
<option value="gombo">gombo</option>
<option value="gorgonzola">gorgonzola</option>
<option value="gouda">gouda</option>
<option value="gougère">gougère</option>
<option value="goulash">goulash</option>
<option value="goulash sans sel ajouté">goulash sans sel ajouté</option>
<option value="goûter fourré autre parfum (type BN)">goûter fourré autre parfum (type BN)</option>
<option value="goûter fourré chocolat ou fruit (type BN)">goûter fourré chocolat ou fruit (type BN)</option>
<option value="gratin d'endives (chicons) et jambon">gratin d'endives (chicons) et jambon</option>
<option value="gratin dauphinois">gratin dauphinois</option>
<option value="gratin de blettes">gratin de blettes</option>
<option value="gratin de christophine">gratin de christophine</option>
<option value="gratin de fruits">gratin de fruits</option>
<option value="gratin de fruits de mer">gratin de fruits de mer</option>
<option value="gratin de légumes">gratin de légumes</option>
<option value="gratin de pâtes">gratin de pâtes</option>
<option value="gratin de poisson">gratin de poisson</option>
<option value="gratin de pomme de terre">gratin de pomme de terre</option>
<option value="gressins">gressins</option>
<option value="grog">grog</option>
<option value="gruyère">gruyère</option>
<option value="gruyère rapé">gruyère rapé</option>
<option value="guimauve">guimauve</option>
<option value="hachis mélangé (préparation  belge)">hachis mélangé (préparation  belge)</option>
<option value="hachis parmentier">hachis parmentier</option>
<option value="hamburger à la viande">hamburger à la viande</option>
<option value="hamburger au bacon">hamburger au bacon</option>
<option value="hamburger au poisson">hamburger au poisson</option>
<option value="hamburger au poulet pané">hamburger au poulet pané</option>
<option value="harira">harira</option>
<option value="herve">herve</option>
<option value="homard">homard</option>
<option value="hot dog (1 saucisse)">hot dog (1 saucisse)</option>
<option value="hot dog (2 saucisses)">hot dog (2 saucisses)</option>
<option value="houmous">houmous</option>
<option value="île flottante, œufs en neige">île flottante, œufs en neige</option>
<option value="irish coffee">irish coffee</option>
<option value="jambon végétal">jambon végétal</option>
<option value="jaune d'oeuf cru">jaune d'oeuf cru</option>
<option value="jaune d'oeuf cuit">jaune d'oeuf cuit</option>
<option value="kéfir aux fruits">kéfir aux fruits</option>
<option value="kéfir de lait">kéfir de lait</option>
<option value="Kiri">Kiri</option>
<option value="kouglof">kouglof</option>
<option value="kouign-aman">kouign-aman</option>
<option value="koulibiac de poisson">koulibiac de poisson</option>
<option value="lacquemant">lacquemant</option>
<option value="langouste">langouste</option>
<option value="langoustine">langoustine</option>
<option value="langres">langres</option>
<option value="lapin">lapin</option>
<option value="lapin à la moutarde">lapin à la moutarde</option>
<option value="lapin aux pruneaux">lapin aux pruneaux</option>
<option value="lapin chasseur">lapin chasseur</option>
<option value="lard gras">lard gras</option>
<option value="lardons fumés, crus">lardons fumés, crus</option>
<option value="lardons fumés, cuits">lardons fumés, cuits</option>
<option value="lardons natures, crus (supprimé)">lardons natures, crus (supprimé)</option>
<option value="lardons natures, cuits">lardons natures, cuits</option>
<option value="lasagnes">lasagnes</option>
<option value="lasagnes au poisson">lasagnes au poisson</option>
<option value="lasagnes aux épinards">lasagnes aux épinards</option>
<option value="lasagnes aux légumes">lasagnes aux légumes</option>
<option value="lassi aux fruits">lassi aux fruits</option>
<option value="légumes farcis à la viande ou à la volaille (sauf tomate)">légumes farcis à la viande ou à la volaille (sauf tomate)</option>
<option value="lentilles">lentilles</option>
<option value="lentilles cuisinées">lentilles cuisinées</option>
<option value="liégeois de fruits">liégeois de fruits</option>
<option value="longe et palette de porc cuites">longe et palette de porc cuites</option>
<option value="loukoum">loukoum</option>
<option value="macaron">macaron</option>
<option value="macédoine de légumes à la mayonnaise">macédoine de légumes à la mayonnaise</option>
<option value="madeleine">madeleine</option>
<option value="mafé">mafé</option>
<option value="magret de canard fumé">magret de canard fumé</option>
<option value="magret de canard rôti">magret de canard rôti</option>
<option value="magret de canard séché">magret de canard séché</option>
<option value="mai tai">mai tai</option>
<option value="maki">maki</option>
<option value="maki californien">maki californien</option>
<option value="maqrout (makrout)">maqrout (makrout)</option>
<option value="mascarpone">mascarpone</option>
<option value="massepain">massepain</option>
<option value="mayonnaise">mayonnaise</option>
<option value="merguez">merguez</option>
<option value="meringue">meringue</option>
<option value="merveilleux">merveilleux</option>
<option value="mesclun">mesclun</option>
<option value="milk-shake">milk-shake</option>
<option value="mille-feuilles">mille-feuilles</option>
<option value="mimolette">mimolette</option>
<option value="minestrone">minestrone</option>
<option value="mini boudin">mini boudin</option>
<option value="mini-barres glacées (type mini Mars glacé)">mini-barres glacées (type mini Mars glacé)</option>
<option value="moka au chocolat">moka au chocolat</option>
<option value="mont blanc">mont blanc</option>
<option value="morbier">morbier</option>
<option value="mortadelle">mortadelle</option>
<option value="morue">morue</option>
<option value="moule">moule</option>
<option value="moussaka">moussaka</option>
<option value="moussaka sans sel ajouté">moussaka sans sel ajouté</option>
<option value="mousse au chocolat">mousse au chocolat</option>
<option value="mousse aux fruits">mousse aux fruits</option>
<option value="mousse de marron (type Maronsui's)">mousse de marron (type Maronsui's)</option>
<option value="mousse, autre parfum">mousse, autre parfum</option>
<option value="mozzarella">mozzarella</option>
<option value="muffin anglais complet">muffin anglais complet</option>
<option value="muffin anglais nature">muffin anglais nature</option>
<option value="muffin au chocolat">muffin au chocolat</option>
<option value="muffin aux fruits">muffin aux fruits</option>
<option value="mystère glacé">mystère glacé</option>
<option value="nachos au fromage">nachos au fromage</option>
<option value="nachos au fromage et piment jalapeno">nachos au fromage et piment jalapeno</option>
<option value="nan au fromage">nan au fromage</option>
<option value="nappage caramel">nappage caramel</option>
<option value="navarin d'agneau/mouton">navarin d'agneau/mouton</option>
<option value="nems aux légumes">nems aux légumes</option>
<option value="nougat">nougat</option>
<option value="nougat chinois">nougat chinois</option>
<option value="nougat glacé">nougat glacé</option>
<option value="nougat pistache">nougat pistache</option>
<option value="nougatine">nougatine</option>
<option value="nouilles chinoises">nouilles chinoises</option>
<option value="nouilles ou vermicelles de riz">nouilles ou vermicelles de riz</option>
<option value="nouilles sautées chinoises">nouilles sautées chinoises</option>
<option value="nouilles sautées chinoises au bœuf">nouilles sautées chinoises au bœuf</option>
<option value="nouilles sautées chinoises au poulet">nouilles sautées chinoises au poulet</option>
<option value="nouilles sautées chinoises aux crevettes">nouilles sautées chinoises aux crevettes</option>
<option value="nuggets de volaille">nuggets de volaille</option>
<option value="oeuf brouillé">oeuf brouillé</option>
<option value="oeuf frit">oeuf frit</option>
<option value="oeuf poché">oeuf poché</option>
<option value="oeufs de poisson">oeufs de poisson</option>
<option value="omelette au fromage">omelette au fromage</option>
<option value="omelette au jambon">omelette au jambon</option>
<option value="omelette aux champignons">omelette aux champignons</option>
<option value="omelette aux fines herbes">omelette aux fines herbes</option>
<option value="omelette aux lardons">omelette aux lardons</option>
<option value="omelette aux pommes de terre">omelette aux pommes de terre</option>
<option value="omelette nature">omelette nature</option>
<option value="omelette norvégienne">omelette norvégienne</option>
<option value="osso bucco">osso bucco</option>
<option value="paëlla">paëlla</option>
<option value="paëlla sans sel ajouté">paëlla sans sel ajouté</option>
<option value="pain viennois ou brioché">pain viennois ou brioché</option>
<option value="palet aux amandes">palet aux amandes</option>
<option value="palette de veau braisée">palette de veau braisée</option>
<option value="palette de veau maigre braisée">palette de veau maigre braisée</option>
<option value="palette de veau maigre rôtie">palette de veau maigre rôtie</option>
<option value="palette de veau rôtie">palette de veau rôtie</option>
<option value="pan bagnat">pan bagnat</option>
<option value="panacotta">panacotta</option>
<option value="pancakes">pancakes</option>
<option value="pancetta, poitrine de porc roulée sèche">pancetta, poitrine de porc roulée sèche</option>
<option value="panettone">panettone</option>
<option value="panini aux fromages">panini aux fromages</option>
<option value="panini tomate mozarella jambon">panini tomate mozarella jambon</option>
<option value="papillote de poisson aux légumes">papillote de poisson aux légumes</option>
<option value="paris brest">paris brest</option>
<option value="parmesan en poudre">parmesan en poudre</option>
<option value="pâté à base de poisson ou de crustacés">pâté à base de poisson ou de crustacés</option>
<option value="pâte à chou, cuite">pâte à chou, cuite</option>
<option value="pâte à pizza">pâte à pizza</option>
<option value="pâte à pizza sans gluten">pâte à pizza sans gluten</option>
<option value="pâte à tartiner au chocolat et aux noisettes (type nutella)">pâte à tartiner au chocolat et aux noisettes (type nutella)</option>
<option value="pâte à tartiner au chocolat sans noisettes (type chocopasta)">pâte à tartiner au chocolat sans noisettes (type chocopasta)</option>
<option value="pâte à tartiner aux speculoos">pâte à tartiner aux speculoos</option>
<option value="pâte brisée">pâte brisée</option>
<option value="pâte d'amande">pâte d'amande</option>
<option value="pâté de campagne">pâté de campagne</option>
<option value="pâté de crevette ou homard">pâté de crevette ou homard</option>
<option value="pâté de foie de porc">pâté de foie de porc</option>
<option value="pâté de foie de volaille">pâté de foie de volaille</option>
<option value="pâte de fruits">pâte de fruits</option>
<option value="pâté de lapin">pâté de lapin</option>
<option value="pâte de sésame (tahin)">pâte de sésame (tahin)</option>
<option value="pâté en croûte">pâté en croûte</option>
<option value="pâte feuilletée">pâte feuilletée</option>
<option value="pâté impérial/nem">pâté impérial/nem</option>
<option value="pâte sablée">pâte sablée</option>
<option value="pâté/terrine">pâté/terrine</option>
<option value="pâtes à la bolognaise">pâtes à la bolognaise</option>
<option value="pâtes à la carbonara">pâtes à la carbonara</option>
<option value="pâtes au saumon">pâtes au saumon</option>
<option value="pâtes aux 3 fromages">pâtes aux 3 fromages</option>
<option value="pâtes aux fruits de mer">pâtes aux fruits de mer</option>
<option value="pâtés salés (porc)">pâtés salés (porc)</option>
<option value="pâtes sans gluten cuites">pâtes sans gluten cuites</option>
<option value="pâtes sauce tomate">pâtes sauce tomate</option>
<option value="paupiette de poisson">paupiette de poisson</option>
<option value="paupiette de porc">paupiette de porc</option>
<option value="paupiette de veau">paupiette de veau</option>
<option value="paupiette de volaille">paupiette de volaille</option>
<option value="pecorino">pecorino</option>
<option value="pepperoni">pepperoni</option>
<option value="perle de coco (pâtisserie asiatique)">perle de coco (pâtisserie asiatique)</option>
<option value="petit salé aux lentilles">petit salé aux lentilles</option>
<option value="petit suisse 0% MG">petit suisse 0% MG</option>
<option value="petit suisse 20% MG">petit suisse 20% MG</option>
<option value="petit suisse 40% MG (9% sur produit fini)">petit suisse 40% MG (9% sur produit fini)</option>
<option value="petit suisse 60% MG (19% sur produit fini)">petit suisse 60% MG (19% sur produit fini)</option>
<option value="petit suisse aromatisé">petit suisse aromatisé</option>
<option value="petit suisse au chocolat">petit suisse au chocolat</option>
<option value="petit suisse aux fruits">petit suisse aux fruits</option>
<option value="petits fours sucrés">petits fours sucrés</option>
<option value="pilon et cuisse de poulet panés">pilon et cuisse de poulet panés</option>
<option value="pintade">pintade</option>
<option value="piperade">piperade</option>
<option value="pissaladière">pissaladière</option>
<option value="pizza">pizza</option>
<option value="pizza 4 fromages">pizza 4 fromages</option>
<option value="pizza 4 saisons">pizza 4 saisons</option>
<option value="pizza à la viande hâchée">pizza à la viande hâchée</option>
<option value="pizza au fromage, viande et légumes">pizza au fromage, viande et légumes</option>
<option value="pizza avec pepperoni">pizza avec pepperoni</option>
<option value="pizza chèvre lardons">pizza chèvre lardons</option>
<option value="pizza fromage (supprimé)">pizza fromage (supprimé)</option>
<option value="pizza jambon, fromage">pizza jambon, fromage</option>
<option value="pizza margherita">pizza margherita</option>
<option value="pizza poisson, fruits de mer">pizza poisson, fruits de mer</option>
<option value="pizza royale (jambon, fromage, champignons)">pizza royale (jambon, fromage, champignons)</option>
<option value="pizza savoyarde">pizza savoyarde</option>
<option value="pizza type calzone">pizza type calzone</option>
<option value="poêlée forestière">poêlée forestière</option>
<option value="poêlée méridionale">poêlée méridionale</option>
<option value="poêlée montagnarde / savoyarde">poêlée montagnarde / savoyarde</option>
<option value="poêlée paysanne / campagnarde">poêlée paysanne / campagnarde</option>
<option value="poire belle Hélène">poire belle Hélène</option>
<option value="poivron farci à la chair à saucisse">poivron farci à la chair à saucisse</option>
<option value="poivron farci au riz">poivron farci au riz</option>
<option value="pomme au four">pomme au four</option>
<option value="pomme cajou">pomme cajou</option>
<option value="pomme cannelle">pomme cannelle</option>
<option value="pomme dauphine salée">pomme dauphine salée</option>
<option value="pomme de terre à l'huile">pomme de terre à l'huile</option>
<option value="pomme de terre à l'huile sans sel ajouté">pomme de terre à l'huile sans sel ajouté</option>
<option value="pomme de terre au four">pomme de terre au four</option>
<option value="pomme de terre cuite à l'eau">pomme de terre cuite à l'eau</option>
<option value="pomme de terre cuite à la vapeur">pomme de terre cuite à la vapeur</option>
<option value="pomme de terre sautée">pomme de terre sautée</option>
<option value="pomme duchesse">pomme duchesse</option>
<option value="pomme malaka (pomme d'eau)">pomme malaka (pomme d'eau)</option>
<option value="pomme noisette salée">pomme noisette salée</option>
<option value="porc au caramel">porc au caramel</option>
<option value="pot-au-feu">pot-au-feu</option>
<option value="potage de brocoli">potage de brocoli</option>
<option value="potée auvergnate">potée auvergnate</option>
<option value="potée liégeoise">potée liégeoise</option>
<option value="poulet au curry">poulet au curry</option>
<option value="poulet au curry avec riz ou semoule">poulet au curry avec riz ou semoule</option>
<option value="poulet au curry sans sel ajouté">poulet au curry sans sel ajouté</option>
<option value="poulet basquaise">poulet basquaise</option>
<option value="poulet basquaise et pâtes">poulet basquaise et pâtes</option>
<option value="poulet basquaise et riz">poulet basquaise et riz</option>
<option value="poulet cocotte ou grand-mère">poulet cocotte ou grand-mère</option>
<option value="poulet en préparation chinoise">poulet en préparation chinoise</option>
<option value="poulet tikka / massala">poulet tikka / massala</option>
<option value="poulet yassa">poulet yassa</option>
<option value="pralin">pralin</option>
<option value="préparation à la viande à farcir">préparation à la viande à farcir</option>
<option value="profiterole">profiterole</option>
<option value="pudding aux pruneaux">pudding aux pruneaux</option>
<option value="pudding ou bodding">pudding ou bodding</option>
<option value="purée d'amande">purée d'amande</option>
<option value="purée d'avocat (guacamole)">purée d'avocat (guacamole)</option>
<option value="purée d'avocat (guacamole) sans sel ajouté">purée d'avocat (guacamole) sans sel ajouté</option>
<option value="purée de carottes">purée de carottes</option>
<option value="purée de haricots verts">purée de haricots verts</option>
<option value="purée de légumes">purée de légumes</option>
<option value="purée de légumes sans sel ajouté">purée de légumes sans sel ajouté</option>
<option value="purée de marron">purée de marron</option>
<option value="purée de pois cassés">purée de pois cassés</option>
<option value="purée de pomme de terre industrielle (type Mousline)">purée de pomme de terre industrielle (type Mousline)</option>
<option value="purée de pommes de terre">purée de pommes de terre</option>
<option value="quatre-quarts (cake au beurre)">quatre-quarts (cake au beurre)</option>
<option value="quatre-quarts (cake au beurre) sans sel ajouté">quatre-quarts (cake au beurre) sans sel ajouté</option>
<option value="quenelle au naturel en sauce">quenelle au naturel en sauce</option>
<option value="quenelle nature">quenelle nature</option>
<option value="quiche au boeuf">quiche au boeuf</option>
<option value="quiche au fromage">quiche au fromage</option>
<option value="quiche au poisson">quiche au poisson</option>
<option value="quiche au poulet">quiche au poulet</option>
<option value="quiche aux légumes">quiche aux légumes</option>
<option value="quiche aux poireaux">quiche aux poireaux</option>
<option value="quiche lorraine">quiche lorraine</option>
<option value="ragoût de cochon / porc">ragoût de cochon / porc</option>
<option value="ragoût de lapin">ragoût de lapin</option>
<option value="ragoût de lièvre">ragoût de lièvre</option>
<option value="ragoût de poule">ragoût de poule</option>
<option value="raviole">raviole</option>
<option value="ravioli au tofu">ravioli au tofu</option>
<option value="ravioli aux légumes">ravioli aux légumes</option>
<option value="ricotta">ricotta</option>
<option value="rillettes">rillettes</option>
<option value="rillettes de canard">rillettes de canard</option>
<option value="rillettes de maquereaux">rillettes de maquereaux</option>
<option value="rillettes de saumon">rillettes de saumon</option>
<option value="rillettes de thon">rillettes de thon</option>
<option value="risotto à la milanaise">risotto à la milanaise</option>
<option value="risotto au poisson ou fruits de mer">risotto au poisson ou fruits de mer</option>
<option value="risotto au poulet">risotto au poulet</option>
<option value="risotto aux champignons">risotto aux champignons</option>
<option value="risotto aux légumes">risotto aux légumes</option>
<option value="riz au lait">riz au lait</option>
<option value="riz au lait sans sel ajouté">riz au lait sans sel ajouté</option>
<option value="rocher coco">rocher coco</option>
<option value="rognons d'agneau / mouton">rognons d'agneau / mouton</option>
<option value="rosbif de boeuf">rosbif de boeuf</option>
<option value="rôti de porc">rôti de porc</option>
<option value="rôti de porc, filet maigre">rôti de porc, filet maigre</option>
<option value="rôti de veau">rôti de veau</option>
<option value="rôti de veau orloff">rôti de veau orloff</option>
<option value="rougail de saucisses">rougail de saucisses</option>
<option value="roulé au fromage">roulé au fromage</option>
<option value="rouleau de printemps">rouleau de printemps</option>
<option value="rouleau de printemps sans sel ajouté">rouleau de printemps sans sel ajouté</option>
<option value="sablé">sablé</option>
<option value="sablé sans sel ajouté">sablé sans sel ajouté</option>
<option value="salade caesar (césar)">salade caesar (césar)</option>
<option value="salade coleslaw">salade coleslaw</option>
<option value="salade crétoise / grecque">salade crétoise / grecque</option>
<option value="salade de chèvre chaud">salade de chèvre chaud</option>
<option value="salade de fruits frais non sucrée">salade de fruits frais non sucrée</option>
<option value="salade de légumes">salade de légumes</option>
<option value="salade de légumes avec crevettes">salade de légumes avec crevettes</option>
<option value="salade de légumes avec poulet">salade de légumes avec poulet</option>
<option value="salade de légumes avec thon">salade de légumes avec thon</option>
<option value="salade de pâte végétarienne">salade de pâte végétarienne</option>
<option value="salade de pâtes aux légumes avec poulet">salade de pâtes aux légumes avec poulet</option>
<option value="salade de pâtes aux légumes avec thon ou viande">salade de pâtes aux légumes avec thon ou viande</option>
<option value="salade de poisson mayonnaise">salade de poisson mayonnaise</option>
<option value="salade de pomme de terre assaisonnée">salade de pomme de terre assaisonnée</option>
<option value="salade de pomme de terre nature">salade de pomme de terre nature</option>
<option value="salade de poulet au curry mayonnaise">salade de poulet au curry mayonnaise</option>
<option value="salade de riz">salade de riz</option>
<option value="salade de taco">salade de taco</option>
<option value="salade de taco avec chili con carne">salade de taco avec chili con carne</option>
<option value="salade endive (chicon), noix et roquefort">salade endive (chicon), noix et roquefort</option>
<option value="salade Landaise">salade Landaise</option>
<option value="salade liégeoise">salade liégeoise</option>
<option value="salade macédoine et thon">salade macédoine et thon</option>
<option value="salade niçoise">salade niçoise</option>
<option value="salade piémontaise">salade piémontaise</option>
<option value="salade thaï">salade thaï</option>
<option value="salade verte">salade verte</option>
<option value="salade verte mélangée">salade verte mélangée</option>
<option value="samos">samos</option>
<option value="samossa (samoussa) à la volaille">samossa (samoussa) à la volaille</option>
<option value="samossa (samoussa) au bœuf">samossa (samoussa) au bœuf</option>
<option value="samossa (samoussa) au porc">samossa (samoussa) au porc</option>
<option value="samossa (samoussa) au thon">samossa (samoussa) au thon</option>
<option value="sandwich camembert">sandwich camembert</option>
<option value="sandwich camembert beurre">sandwich camembert beurre</option>
<option value="sandwich camembert emmental">sandwich camembert emmental</option>
<option value="sandwich crudités">sandwich crudités</option>
<option value="sandwich crudités dinde">sandwich crudités dinde</option>
<option value="sandwich crudités dinde mayonnaise">sandwich crudités dinde mayonnaise</option>
<option value="sandwich crudités emmental">sandwich crudités emmental</option>
<option value="sandwich crudités emmental beurre">sandwich crudités emmental beurre</option>
<option value="sandwich crudités jambon">sandwich crudités jambon</option>
<option value="sandwich crudités jambon beurre">sandwich crudités jambon beurre</option>
<option value="sandwich crudités jambon œuf dur beurre">sandwich crudités jambon œuf dur beurre</option>
<option value="sandwich crudités mayonnaise">sandwich crudités mayonnaise</option>
<option value="sandwich crudités œuf dur">sandwich crudités œuf dur</option>
<option value="sandwich crudités œuf mayonnaise">sandwich crudités œuf mayonnaise</option>
<option value="sandwich crudités porc mayonnaise">sandwich crudités porc mayonnaise</option>
<option value="sandwich crudités poulet">sandwich crudités poulet</option>
<option value="sandwich crudités poulet mayonnaise">sandwich crudités poulet mayonnaise</option>
<option value="sandwich crudités rosbif">sandwich crudités rosbif</option>
<option value="sandwich crudités rôti de porc">sandwich crudités rôti de porc</option>
<option value="sandwich crudités surimi">sandwich crudités surimi</option>
<option value="sandwich crudités surimi mayonnaise">sandwich crudités surimi mayonnaise</option>
<option value="sandwich crudités thon">sandwich crudités thon</option>
<option value="sandwich crudités thon mayonnaise">sandwich crudités thon mayonnaise</option>
<option value="sandwich jambon">sandwich jambon</option>
<option value="sandwich jambon beurre">sandwich jambon beurre</option>
<option value="sandwich jambon cornichon beurre">sandwich jambon cornichon beurre</option>
<option value="sandwich jambon de pays beurre">sandwich jambon de pays beurre</option>
<option value="sandwich jambon gruyére">sandwich jambon gruyére</option>
<option value="sandwich jambon gruyère beurre">sandwich jambon gruyère beurre</option>
<option value="sandwich merguez (1 merguez)">sandwich merguez (1 merguez)</option>
<option value="sandwich merguez (2 merguez)">sandwich merguez (2 merguez)</option>
<option value="sandwich merguez frites">sandwich merguez frites</option>
<option value="sandwich pâté">sandwich pâté</option>
<option value="sandwich pâté beurre">sandwich pâté beurre</option>
<option value="sandwich rillette">sandwich rillette</option>
<option value="sandwich rillette beurre">sandwich rillette beurre</option>
<option value="sandwich rosette">sandwich rosette</option>
<option value="sandwich rosette beurre">sandwich rosette beurre</option>
<option value="sandwich salami">sandwich salami</option>
<option value="sandwich salami beurre">sandwich salami beurre</option>
<option value="sandwich saucisson à l'ail">sandwich saucisson à l'ail</option>
<option value="sandwich saucisson à l'ail beurre">sandwich saucisson à l'ail beurre</option>
<option value="sandwich saucisson sec">sandwich saucisson sec</option>
<option value="sandwich saucisson sec beurre">sandwich saucisson sec beurre</option>
<option value="sandwich saumon fumé">sandwich saumon fumé</option>
<option value="sandwich saumon fumé beurre">sandwich saumon fumé beurre</option>
<option value="sandwich saumon fumé mayonnaise">sandwich saumon fumé mayonnaise</option>
<option value="sandwich viande">sandwich viande</option>
<option value="sauce à la crème">sauce à la crème</option>
<option value="sauce aigre-douce">sauce aigre-douce</option>
<option value="sauce aïoli">sauce aïoli</option>
<option value="sauce américaine">sauce américaine</option>
<option value="sauce armoricaine">sauce armoricaine</option>
<option value="sauce au curry">sauce au curry</option>
<option value="sauce au fromage">sauce au fromage</option>
<option value="sauce au lait de coco (type \"thaï\")">sauce au lait de coco (type "thaï")</option>
<option value="sauce au roquefort">sauce au roquefort</option>
<option value="sauce au vin blanc">sauce au vin blanc</option>
<option value="sauce au vin rouge">sauce au vin rouge</option>
<option value="sauce au yaourt">sauce au yaourt</option>
<option value="sauce barbecue">sauce barbecue</option>
<option value="sauce basquaise">sauce basquaise</option>
<option value="sauce béarnaise">sauce béarnaise</option>
<option value="sauce béarnaise allégée">sauce béarnaise allégée</option>
<option value="sauce béchamel">sauce béchamel</option>
<option value="sauce béchamel allégée en MG">sauce béchamel allégée en MG</option>
<option value="sauce beurre blanc">sauce beurre blanc</option>
<option value="sauce blanche">sauce blanche</option>
<option value="sauce bolognaise">sauce bolognaise</option>
<option value="sauce bordelaise">sauce bordelaise</option>
<option value="sauce bourguignonne">sauce bourguignonne</option>
<option value="sauce caesar">sauce caesar</option>
<option value="sauce carbonara">sauce carbonara</option>
<option value="sauce champignons (archiduc)">sauce champignons (archiduc)</option>
<option value="sauce chasseur">sauce chasseur</option>
<option value="sauce chien">sauce chien</option>
<option value="sauce chili">sauce chili</option>
<option value="sauce cocktail">sauce cocktail</option>
<option value="sauce court-bouillon créole">sauce court-bouillon créole</option>
<option value="sauce de soja">sauce de soja</option>
<option value="sauce dressing au yaourt">sauce dressing au yaourt</option>
<option value="sauce escabèche">sauce escabèche</option>
<option value="sauce hollandaise">sauce hollandaise</option>
<option value="sauce madère">sauce madère</option>
<option value="sauce marchand de vin">sauce marchand de vin</option>
<option value="sauce mornay">sauce mornay</option>
<option value="sauce moutarde">sauce moutarde</option>
<option value="sauce nantua">sauce nantua</option>
<option value="sauce napolitaine">sauce napolitaine</option>
<option value="sauce nuoc-mam">sauce nuoc-mam</option>
<option value="sauce pesto">sauce pesto</option>
<option value="sauce piccalilly">sauce piccalilly</option>
<option value="sauce piquante">sauce piquante</option>
<option value="sauce piquante antillaise">sauce piquante antillaise</option>
<option value="sauce poivre vert">sauce poivre vert</option>
<option value="sauce provençale">sauce provençale</option>
<option value="sauce salade moutarde">sauce salade moutarde</option>
<option value="sauce tandoori">sauce tandoori</option>
<option value="sauce tartare">sauce tartare</option>
<option value="sauce tomate">sauce tomate</option>
<option value="sauce tomate sans sel ajouté">sauce tomate sans sel ajouté</option>
<option value="sauce worcestershire">sauce worcestershire</option>
<option value="sauce yakitori">sauce yakitori</option>
<option value="saucisse alsacienne fumée (gendarme)">saucisse alsacienne fumée (gendarme)</option>
<option value="saucisse cocktail">saucisse cocktail</option>
<option value="saucisse de Francfort">saucisse de Francfort</option>
<option value="saucisse de Montbéliard">saucisse de Montbéliard</option>
<option value="saucisse de Morteau">saucisse de Morteau</option>
<option value="saucisse de Strasbourg (type Knacki)">saucisse de Strasbourg (type Knacki)</option>
<option value="saucisse de Toulouse">saucisse de Toulouse</option>
<option value="saucisse de volaille">saucisse de volaille</option>
<option value="saucisse sèche">saucisse sèche</option>
<option value="saucisse végétarienne au tofu (type Tofinelle)">saucisse végétarienne au tofu (type Tofinelle)</option>
<option value="saucisson à l'ail">saucisson à l'ail</option>
<option value="saucisson de jambon (type Saint Agaûne)">saucisson de jambon (type Saint Agaûne)</option>
<option value="saucisson sec">saucisson sec</option>
<option value="saumon">saumon</option>
<option value="saumon accompagné de courgettes">saumon accompagné de courgettes</option>
<option value="saumon accompagné de riz">saumon accompagné de riz</option>
<option value="saumon cru / sashimi">saumon cru / sashimi</option>
<option value="saumon fumé">saumon fumé</option>
<option value="saumon sauvage">saumon sauvage</option>
<option value="sauté de veau">sauté de veau</option>
<option value="scone sucré">scone sucré</option>
<option value="semoule (graine de couscous)">semoule (graine de couscous)</option>
<option value="semoule au lait">semoule au lait</option>
<option value="semoule de mais (polenta)">semoule de mais (polenta)</option>
<option value="smoothie aux fruits">smoothie aux fruits</option>
<option value="smoothie lacté aux fruits">smoothie lacté aux fruits</option>
<option value="soufflé au fromage">soufflé au fromage</option>
<option value="soupe à l'oignon">soupe à l'oignon</option>
<option value="soupe à l'oseille">soupe à l'oseille</option>
<option value="soupe au pistou">soupe au pistou</option>
<option value="soupe au potiron (supprimé)">soupe au potiron (supprimé)</option>
<option value="soupe aux asperges">soupe aux asperges</option>
<option value="soupe aux champigons">soupe aux champigons</option>
<option value="soupe aux choux">soupe aux choux</option>
<option value="soupe aux courgettes">soupe aux courgettes</option>
<option value="soupe chinoise">soupe chinoise</option>
<option value="soupe de carottes">soupe de carottes</option>
<option value="soupe de chou-fleur">soupe de chou-fleur</option>
<option value="soupe de concombre">soupe de concombre</option>
<option value="soupe de cresson">soupe de cresson</option>
<option value="soupe de fèves">soupe de fèves</option>
<option value="soupe de fèves et bacon">soupe de fèves et bacon</option>
<option value="soupe de légumes deshydratée, reconstituée">soupe de légumes deshydratée, reconstituée</option>
<option value="soupe de légumes variés">soupe de légumes variés</option>
<option value="soupe de lentilles">soupe de lentilles</option>
<option value="soupe de poireaux">soupe de poireaux</option>
<option value="soupe de poireaux et pommes de terre">soupe de poireaux et pommes de terre</option>
<option value="soupe de pois cassés">soupe de pois cassés</option>
<option value="soupe de poisson">soupe de poisson</option>
<option value="soupe de potiron">soupe de potiron</option>
<option value="soupe de poulet et légumes">soupe de poulet et légumes</option>
<option value="soupe de tomate">soupe de tomate</option>
<option value="soupe de tomate et légumes">soupe de tomate et légumes</option>
<option value="soupe de vermicelles">soupe de vermicelles</option>
<option value="soupe miso">soupe miso</option>
<option value="soupe poulet vermicelle">soupe poulet vermicelle</option>
<option value="soupe thaï">soupe thaï</option>
<option value="soupe type poule au pot">soupe type poule au pot</option>
<option value="soupe z'habitant">soupe z'habitant</option>
<option value="speculoos">speculoos</option>
<option value="steak de soja au curry">steak de soja au curry</option>
<option value="steak de soja aux fines herbes">steak de soja aux fines herbes</option>
<option value="steak de soja aux petits légumes">steak de soja aux petits légumes</option>
<option value="steak de soja nature">steak de soja nature</option>
<option value="steak de soja tomate-basilic">steak de soja tomate-basilic</option>
<option value="steak de soja tomate-poivron">steak de soja tomate-poivron</option>
<option value="steak haché de boeuf 10% MG cru">steak haché de boeuf 10% MG cru</option>
<option value="steak haché de boeuf 10% MG cuit">steak haché de boeuf 10% MG cuit</option>
<option value="steak haché de boeuf 15% MG cru">steak haché de boeuf 15% MG cru</option>
<option value="steak haché de boeuf 15% MG cuit">steak haché de boeuf 15% MG cuit</option>
<option value="steak haché de boeuf 20% MG cru">steak haché de boeuf 20% MG cru</option>
<option value="steak haché de boeuf 20% MG cuit">steak haché de boeuf 20% MG cuit</option>
<option value="steak haché de boeuf 5% MG cru">steak haché de boeuf 5% MG cru</option>
<option value="steak haché de boeuf 5% MG cuit">steak haché de boeuf 5% MG cuit</option>
<option value="steak haché de veau grillé">steak haché de veau grillé</option>
<option value="steak tartare (bœuf)/ filet américain">steak tartare (bœuf)/ filet américain</option>
<option value="steak/bifteck de boeuf grillé">steak/bifteck de boeuf grillé</option>
<option value="strudel aux pommes">strudel aux pommes</option>
<option value="substitut de viande mycoprotéiné (type Quorn)">substitut de viande mycoprotéiné (type Quorn)</option>
<option value="substitut de viande mycoprotéiné pané (type Quorn)">substitut de viande mycoprotéiné pané (type Quorn)</option>
<option value="surimi de crabe">surimi de crabe</option>
<option value="surimi de crevette">surimi de crevette</option>
<option value="surimi de pétoncle">surimi de pétoncle</option>
<option value="sushi au saumon">sushi au saumon</option>
<option value="sushi au thon">sushi au thon</option>
<option value="taco/burrito garni">taco/burrito garni</option>
<option value="tajine à la viande">tajine à la viande</option>
<option value="tajine à la viande sans sel ajouté">tajine à la viande sans sel ajouté</option>
<option value="tajine au poisson">tajine au poisson</option>
<option value="tajine au poisson sans sel ajouté">tajine au poisson sans sel ajouté</option>
<option value="tajine de légumes">tajine de légumes</option>
<option value="tajine de poulet">tajine de poulet</option>
<option value="tajine poulet et semoule">tajine poulet et semoule</option>
<option value="tapenade">tapenade</option>
<option value="tapioca">tapioca</option>
<option value="tarama">tarama</option>
<option value="tarte à l'oignon">tarte à l'oignon</option>
<option value="tarte à la crème">tarte à la crème</option>
<option value="tarte à la morue">tarte à la morue</option>
<option value="tarte à la rhubarbe">tarte à la rhubarbe</option>
<option value="tarte à la tomate">tarte à la tomate</option>
<option value="tarte al d'jote">tarte al d'jote</option>
<option value="tarte au chocolat">tarte au chocolat</option>
<option value="tarte au citron">tarte au citron</option>
<option value="tarte au citron meringuée">tarte au citron meringuée</option>
<option value="tarte au coco">tarte au coco</option>
<option value="tarte au fromage">tarte au fromage</option>
<option value="tarte au riz">tarte au riz</option>
<option value="tarte au saumon">tarte au saumon</option>
<option value="tarte au sucre">tarte au sucre</option>
<option value="tarte au thon">tarte au thon</option>
<option value="tarte aux amandes, amandine">tarte aux amandes, amandine</option>
<option value="tarte aux épinards">tarte aux épinards</option>
<option value="tarte aux fraises">tarte aux fraises</option>
<option value="tarte aux fruits">tarte aux fruits</option>
<option value="tarte aux fruits de mer">tarte aux fruits de mer</option>
<option value="tarte aux légumes">tarte aux légumes</option>
<option value="tarte aux noix">tarte aux noix</option>
<option value="tarte aux poireaux">tarte aux poireaux</option>
<option value="tarte aux poires et chocolat">tarte aux poires et chocolat</option>
<option value="tarte aux pommes">tarte aux pommes</option>
<option value="tarte chèvre et tomate">tarte chèvre et tomate</option>
<option value="tarte tatin aux pommes">tarte tatin aux pommes</option>
<option value="tartelette aux pommes">tartelette aux pommes</option>
<option value="tartiflette">tartiflette</option>
<option value="tchep djen">tchep djen</option>
<option value="tchep djen avec riz">tchep djen avec riz</option>
<option value="tempeh">tempeh</option>
<option value="terrine de canard">terrine de canard</option>
<option value="terrine de poisson">terrine de poisson</option>
<option value="terrine ou mousse de légumes">terrine ou mousse de légumes</option>
<option value="tian à la provençale">tian à la provençale</option>
<option value="tiramisu">tiramisu</option>
<option value="tiramisu aux fruits">tiramisu aux fruits</option>
<option value="tofu">tofu</option>
<option value="tomate">tomate</option>
<option value="tortellini à la viande">tortellini à la viande</option>
<option value="tourte aux légumes">tourte aux légumes</option>
<option value="tourte aux myrtilles">tourte aux myrtilles</option>
<option value="tourte aux pommes de terre">tourte aux pommes de terre</option>
<option value="tourteau fromager">tourteau fromager</option>
<option value="tranche de blanc de poulet doré au four">tranche de blanc de poulet doré au four</option>
<option value="tranche de filet de dinde braisé">tranche de filet de dinde braisé</option>
<option value="travers de porc braisé">travers de porc braisé</option>
<option value="trianon">trianon</option>
<option value="tropézienne">tropézienne</option>
<option value="truffe au chocolat">truffe au chocolat</option>
<option value="tzatziki (fromage blanc au concombre)">tzatziki (fromage blanc au concombre)</option>
<option value="vacherin aux fruits">vacherin aux fruits</option>
<option value="vacherin, mont d'or">vacherin, mont d'or</option>
<option value="veau marengo">veau marengo</option>
<option value="velouté d'asperges">velouté d'asperges</option>
<option value="velouté de légumes verts">velouté de légumes verts</option>
<option value="velouté de tomate">velouté de tomate</option>
<option value="velouté de topinambours">velouté de topinambours</option>
<option value="vermicelle">vermicelle</option>
<option value="vermicelles de soja">vermicelles de soja</option>
<option value="viande en sauce (supprimé)">viande en sauce (supprimé)</option>
<option value="vinaigrette">vinaigrette</option>
<option value="vinaigrette au yaourt">vinaigrette au yaourt</option>
<option value="waterzoï de poulet">waterzoï de poulet</option>
<option value="wrap au poisson">wrap au poisson</option>
<option value="wrap au poulet">wrap au poulet</option>
<option value="wrap aux légumes">wrap aux légumes</option>
<option value="yaourt  au lait entier aux céréales">yaourt  au lait entier aux céréales</option>
<option value="yaourt 0% MG aromatisé, sucré">yaourt 0% MG aromatisé, sucré</option>
<option value="yaourt 0% MG au bifidus nature">yaourt 0% MG au bifidus nature</option>
<option value="yaourt 0% MG aux céréales">yaourt 0% MG aux céréales</option>
<option value="yaourt 0% MG aux fruits, édulcoré">yaourt 0% MG aux fruits, édulcoré</option>
<option value="yaourt 0% MG aux fruits, sucré">yaourt 0% MG aux fruits, sucré</option>
<option value="yaourt 0% MG brassé">yaourt 0% MG brassé</option>
<option value="yaourt 0% MG ordinaire">yaourt 0% MG ordinaire</option>
<option value="yaourt à boire à la pulpe de fruit">yaourt à boire à la pulpe de fruit</option>
<option value="yaourt à boire aromatisé">yaourt à boire aromatisé</option>
<option value="yaourt à boire sans sucre">yaourt à boire sans sucre</option>
<option value="yaourt à la grecque">yaourt à la grecque</option>
<option value="yaourt aromatisé">yaourt aromatisé</option>
<option value="yaourt au bifidus aromatisé">yaourt au bifidus aromatisé</option>
<option value="yaourt au bifidus aux fruits">yaourt au bifidus aux fruits</option>
<option value="yaourt au bifidus nature">yaourt au bifidus nature</option>
<option value="yaourt au lait de brebis">yaourt au lait de brebis</option>
<option value="yaourt au lait de chèvre nature">yaourt au lait de chèvre nature</option>
<option value="yaourt au lait entier aromatisé">yaourt au lait entier aromatisé</option>
<option value="yaourt au lait entier aux fruits">yaourt au lait entier aux fruits</option>
<option value="yaourt au lait entier nature">yaourt au lait entier nature</option>
<option value="yaourt au lait entier nature sucré">yaourt au lait entier nature sucré</option>
<option value="yaourt au soja aux fruits">yaourt au soja aux fruits</option>
<option value="yaourt au soja nature">yaourt au soja nature</option>
<option value="yaourt aux fruits">yaourt aux fruits</option>
<option value="yaourt aux fruits enrichi en stérols végétaux (type danacol)">yaourt aux fruits enrichi en stérols végétaux (type danacol)</option>
<option value="yaourt brassé aux fruits">yaourt brassé aux fruits</option>
<option value="yaourt brassé nature">yaourt brassé nature</option>
<option value="yaourt nature">yaourt nature</option>
<option value="yaourt nature enrichi en stérols végétaux (type danacol)">yaourt nature enrichi en stérols végétaux (type danacol)</option>
<option value="yaourt nature sucré">yaourt nature sucré</option>
<option value="zlabia">zlabia</option>
</select>
