<a style="font-size: x-small" 
   href=""
   onclick="$('#index-div-filter-form').toggle(); $('#index-div-aff-info').hide(); return false;">Filtrer les plats</a>

<div id="index-div-filter-form" style="display: {if condition="! @empty($_GET)"}block{else}none{/if}">
  <a style="font-size: x-small" href=""
     onclick="$('#index-div-aff-info').toggle(); return false;">Info sur les filtres</a>

  <div id="index-div-aff-info">
    En règle générale les filtres se <em>cumulent</em>. Par exemple filtrer sur <u>prioritaire</u> et <u>contenant <em>tofu</em></u> n'affichera
    que les plats prioritaire dont au moins une recette contient du tofu.<br/>
    Cependant dans le cas ou sont simultanément cochées des options manifestement antagonistes (<em>sans recettes</em> ET <em>avec au moins 1 recette</em>)
    ou encore (<em>correspondance nutrinet</em> ET <em>plats indépendants</em>), alors les plats répondant à <strong>au moins</strong> l'un des critères sont retournés.

    Exemples :
    <ul>
      <li>Les plats dont au moins une recette contient de la biscotte : <a href="?f=biscotte">exemple</a></li>
      <li>Les plats prioritaire dont une recette dépend de tofu : <a href="?f=tofu&prio=1">exemple</a></li>
    </ul>
  </div>
  <form method="GET" id="form-filter-plats">

    <ul>
      <li>
	<label for="filter-text">Ne sélectionner que les plats dont une recette contient un ingrédient contenant cette chaîne :</label>
	<input type="text" name="f" id="filter-text" size="10" value="{$_GET.f|@htmlentities}" />
      </li>
      <li>
	<label for="filter-prio">Ne sélectionner que les plats prioritaires</label>
	<input type="checkbox" name="prio" id="filter-prio" value="1" {if condition="@empty($_GET) || @$_GET.prio"}checked="checked"{/if} />
      </li>
      <li>
	<label for="filter-new">Ne sélectionner que les plats saisis à l'aide de l'interface</label>
	<input type="checkbox" name="new" id="filter-new" value="1" {if="@$_GET.new"}checked="checked"{/if} />
      </li>
      <li>
	<label for="filter-old">Ne sélectionner que les plats standards (liste Nutrinet présélectionnée)</label>
	<input type="checkbox" name="old" id="filter-old" value="1" {if="@$_GET.old"}checked="checked"{/if} />
      </li>
      <li>
	<label for="filter-nonnull">Ne sélectionner que les plats comprenant au moins 1 recette</label>
	<input type="checkbox" name="nonnull" id="filter-nonnull" value="1" {if="@$_GET.nonnull"}checked="checked"{/if} />
      </li>
      <li>
	<label for="filter-null">Ne sélectionner que les plats sans recette saisie recette</label>
	<input type="checkbox" name="null" id="filter-nonnull" value="1" {if="@$_GET.null"}checked="checked"{/if} />
      </li>
    </ul>
    <input type="submit" value="Filtrer" />
  </form>
</div>
