Pour être exploitables à l'avenir, certains champs, bien qu'en saisie libre, doivent être normalisés. Ces méta-données normalisées doivent être saisies sur une unique ligne dans le format <em>nom: valeur</em><br/>
<u>nom</u> peut prendre n'importe quelle valeur, mais certains noms possèdent d'ores et déjà une sémantique précise et sont par conséquent recommandés :
<ul>

  <li><u>url-source</u>: Une adresse internet (URL) commençant par <em>"http://"</em> et pointant vers une source fiable et initiale de cette recette.  origine de la recette. La valeur peut contenir n'importe quels</li>

  <li><u>url-image</u>: Une ou plusieurs adresses internet (URL) séparées par des virgules et commençant par <em>"http://"</em> définissant la localisation de fichiers images de cette recette</li>

  <li><u>source</u>: Autres élements liés à l'origine de la recette. La valeur peut contenir n'importe quels groupes de mots séparés par des virgules, interprétés au format suivant: mot contenant <em>"http://"</em> comme URL, mot contenant <em>"@"</em> comme adresse email, tout autre mot et/ou expression comme dénomination (nom, prénom, surnom de groupe ou personne).<br/> Exemple: <em>source: Gérard, gerard@recettes.com, http://superrecette.com/?id=3</em></li>

  <li><u>date</u>: La valeur doit être au format <strong>DD/MM/YYYY</strong>, elle définie la date de <strong>création</strong> de la recette. Elle ne définie <strong>pas</strong> la date de saisie de la recette<br/>Exemple: <em>date: 2014/01/18</em></li>

  <li><u>contributeur</u>: Nom(s), adresse(s) email et autres informations du/des contributeur(s) à cette recette ainsi que la personne l'ayant saisie</li>

  <li><u>temps-cuisson</u>: Le temps de cuisson dans l'un des 3 formats suivants: W h, X min, YhZ.<br/>Exemples: <em>temps-cuisson: 1h45</em> ou encore <em>temps-cuissons: 20 min</em></li>

  <li><u>nb-personnes</u>: Le nombre de personnes nourrissables, estimé, pour les quantités saisies.<br/>Exemples: <em>nb-personnes: 3 personnes</em> ou encore <em>nb-personnes: entre 8 et 10 personnes</em></li>

</ul>

Tout autre information, comme la recette exhaustive et autres éléments peuvent être saisis librement. Mais avant toute contribution conséquente, veillez à contacter au préalable <a href="mailto:nutrinetvege@gmail.com">nutrinetvege@gmail.com</a> pour plus de précisions.
