<h1>Outils</h1>
<ul>
  {if="UI_PLATS && \vgdb\sys\isadmin()"}
  <li><a href="index.php#index-add-plat">Ajouter un nouveau plat</a></li>
  <hr/>
  {/if}
  <li><a href="masvol.php">Saisies des masses volumiques manquantes</a></li>
  <hr/>
  <li>Export :
    <ul>
      <li><a href="outils.php#data-export">Exports et gestion des données</a></li>
      <li><a href="outils.php?dump=1">Sauvegarde de toutes les recettes et ingrédients</a></li>
      <li><a href="outils.php?dump-masvol=1">Sauvegarde des masses volumiques</a></li>
      </ul>
  </li>
  <hr/>
  {if="\vgdb\sys\isadmin()"}
  <li>Import :
    <ul>
      <li><a href="outils.php#index-import-recettes">Importer des recettes et ingrédients</a> (données de sortie de vgdb)</li>
      <li><a href="outils.php#index-import-plats">Importer une liste de plats initiaux</a> (<span class="dangerous">dangereux</span>)</li>
      <li><a href="outils.php#index-import-food">(ré)Importer la liste des aliments vegan</a> (<span class="dangerous">dangereux</span>)</li>
      <li><a href="outils.php#index-import-components">Importer des valeurs nutritionnelles pour les ingrédients vegans</a> (<span class="dangerous">dangereux</span>)</li>
      </ul>
  </li>
  <hr/>
  {/if}
  <li>Journaux et utilisateurs :
    <ul>
      <li><a href="outils.php#index-journal">Journal d'utilisation</a></li>
      {if="\vgdb\sys\isadmin()"}
      <li><a href="outils.php#users">Ajouter ou modifier un utilisateur</a></li>
      {/if}
    </ul>
  </li>
</ul>
