<hr/>
<h2>Statistiques pour cette recette</h2>
<p>Masse totale des ingrédients : <strong>{$masse_recette}</strong> g (<strong>{$stats.misc.sum_kcal2|round:4}</strong> kcal)</p>
<p>Valeurs nutritionnelles pour <strong>100</strong> g de recette (<strong>{($stats.misc.sum_kcal2 / $stats.misc.masse2 * 100)|round:4}</strong> kcal) :</p>
<table border="1">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Masse, en grammes</th>
      {loop="stats.header"}
      <th>{$value.text} en {$value.unit} <img src="images/question.png" title="{$key1}"/></th>
      {/loop}
    </tr>

    {*
    <tr>
      <th>Total pour {$masse_recette}g</th>
      <th>{$masse_recette}</th>
      {loop="stats.header"}
      <th>TODO</th>
      {/loop}
    </tr>
    *}

    <tr>
      <th>Total pour 100g</th>
      <th>100</th>
      {loop="stats.header"}
      {if="is_null($stats.total.$key1.somme) || $stats.total.$key1.somme == 'XXX'"}
      <th class="cell-error">&nbsp;</th>
      {else}
      {if="! is_numeric($stats.total.$key1.somme)"}
      <th class="cell-error">{$stats.total.$key1.somme}</th>
      {else}
      <th>{$stats.total.$key1.somme|round:4}</th>
      {/if}
      {/if}
      {/loop}
    </tr>
  </thead>
  <tbody>
    {loop="stats.order"}
    {* one line is an ingredient *}
    <tr {if="$value > 75"}style="background-color: LightSalmon"
	{else}
	{if="$value > 50"}style="background-color: LightBlue"
	{else}
	{if="$value > 25"}style="background-color: LightGreen"
	{/if}{/if}{/if}>
      <td>{$stats.names.$key1}</td>
      {if="is_null($value) || $value == 'XXX'"}
      <td class="cell-error">?</td>
      {else}
      <td>{$value|round:2}</td>
      {/if}

      {* ... and each of its col a given nutrient ordered the same way than for $stats.header and $stats.total *}
      {loop="stats.header"}
      {$masse_nutri=isset($stats.data.$key1.$key2) ? $stats.data.$key1.$key2 : NULL}
      {if="is_null($masse_nutri) || $masse_nutri == 'XXX'"}
      <td class="cell-error">&nbsp;</td>
      {else}
      {if="! is_numeric($masse_nutri)"}
      <td class="cell-error">{$masse_nutri}</td>
      {else}
      <td>{$masse_nutri|round:4}</td>
      {/if}
      {/if}
      {/loop}
    </tr>
    {/loop}
  </tbody>
</table>
