<hr/>
<h2>Statistiques pour ce plat</h2>
{* mostly coming from PlatGetAllNutriments() in libvgdb.php *}
<ul>
  <li>kcal pour 100g de ce plat, en moyenne sur <em>{$recettes|count}</em> recettes (<em>{$stats.meta.count}</em> prise(s) en compte et <em>{$stats.meta.ignored|count}</em> ignorée(s)): <strong>{$stats.total.328.somme|round:4}</strong> kcal</li>
</ul>

{*
<!--
<table border="1">
  <caption style="text-align: left; text-decoration: underline; margin-bottom: 10px">Valeurs nutritionnelles moyennes pour ce plats prenant la moyenne des valeurs nutritionnelles pour 100g de {$stats.meta.count} recettes</caption>
  <thead>
    <tr>
      {loop="stats.header"}
      <th>{$value}</th>
      {/loop}
    </tr>
  </thead>
  <tbody>
    <tr>
      {loop="stats.total"}
      <td>{$value.somme|round:4}</td>
      {/loop}
    </tr>
  </tbody>
</table>
-->
*}

<table border="1">
  <caption style="text-decoration: underline; margin-bottom: 10px">Valeurs nutritionnelles moyennes pour ce plat prenant la moyenne des valeurs nutritionnelles pour 100g de <em>{$stats.meta.count}</em> recettes</caption>
  <thead>
    <tr><th>Nutriment</th><th>Valeur</th><th>Unité</th></tr>
  </thead>
  <tbody>
    {loop="stats.header"}
    <tr>
      <td>{$value.text}</td>
      <td {if="$stats.total.$key1.somme && $stats.total.$key1.somme == 'XXX'"}class="cell-error"{/if}>{$stats.total.$key1.somme}</td>
      <td>{$value.unit}</td>
    </tr>
    {/loop}
  </tbody>
</table>


<hr/>
<h2>Statistiques détaillées par recette pour ce plat</h2>

<table border="1">
  <caption style="text-decoration: underline; margin-bottom: 10px">Statistiques détaillées des recettes de ce plat</caption>
  <thead>
    <tr>
      <th>Recette</th>
      {loop="stats.header"}
      <th>{$value.text} en {$value.unit}</th>
      {/loop}
    </tr>
  </thead>
  <tbody>
    {loop="stats.recettes_totaux"}
    <tr>
      <td><a href="ingredients.php?recette_id={$recettes.$key1.id}&stats=1">{$recettes.$key1.nom}</a></td>
      {loop="stats.header"}
      {* http://www.raintpl.com/Forum/Development-Forum/Bug-report/?t=323 *}
      {if="is_null($value1) || ! array_key_exists($key2, $value1) || is_null($value1.$key2) || $value1.$key2['somme'] == 'XXX'"}
      <td class="cell-error">n.c.</td>
      {else}
      {if="! is_numeric($value1.$key2['somme'])"}
      <td class="cell-error">{$value1.$key2.somme}</td>
      {else}
      <td>{$value1.$key2.somme|round:4}</td>
      {/if}
      {/if}
      {/loop}
    </tr>
    {/loop}
  </tbody>
</table>

