<!-- inside a table -->
<tr>
  <td class="images-preview" style="border: 1px solid;"><!-- here come thumbnails --></td>


  <td style="border: 1px solid;">
    <div id="drag-and-drop-zone" class="uploader">
      <div>Déposez les images ici</div>
      <div class="or">-ou-</div>
      <div class="browser">
	<label>
	  <span>Cliquez pour utiliser le navigateur de fichier</span>
	  <input type="file" name="files[]" multiple="multiple" title="Cliquez pour utiliser le navigateur de fichiers">
	</label>
      </div>
    </div>
  </td>
</tr>

<tr colspan="2">
  <td>
    <p class="messages"></p>
  </td>
</tr>
